### Oracle

In [ ]:
import pandas as pd
import cx_Oracle

In [ ]:
query = """select distinct czp_k_id
from customers_zooprime_plans
where czp_start_date >= trunc(sysdate - (365 * 3))
and czp_cancel_u_id is NULL
"""

In [ ]:
conn = cx_Oracle.connect('readonly', 'read_123', 'db-zpmstb-01:1521/zpmstb.web.zooplus.de', threaded=True, encoding = "UTF-8", nencoding = "UTF-8")
#curs = conn.cursor()
o_data = pd.read_sql(query, con = conn)
conn.close()

### PostgreSQL

In [ ]:
import pandas as pd
import psycopg2

In [ ]:
query = """SELECT cop_c_id, cop_pref_o_ext_s_id, cop_g_order_count, cop_g_net_total, cop_g_cm2
FROM public.customer_order_profile
where cop_g_cm2 is not null
"""

In [ ]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
#curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

### AWS Aurora

In [1]:
import pandas as pd
import psycopg2

In [2]:
query = """select k_id, k_strasse, k_plz
from zooman.kunden
where k_plz like '28033'
limit 100
"""

In [3]:
conn = psycopg2.connect("dbname='zoolake' user='amorenoalfonso' host='dna-lake-prod-c-zoolake-cluster.cluster-c90xuwjhoktv.eu-central-1.rds.amazonaws.com' password='sUMUCIp*2qfC'")
#curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

In [4]:
data.sample(10)

          k_id                                k_strasse  k_plz
22  10850123.0         c/ Golfo de Salonica nº 39  1º A  28033
26  10843263.0                 C/Alonso Saavedra, 8 2-B  28033
21  10848569.0                      Totana 40  2º drcha  28033
51  11270010.0                           C/ Bausa n8 5B  28033
20  10842401.0                 C/Alonso Saavedra, 8 2-B  28033
65  11357518.0  gregorio sanchez herraez 5 bajo derecha  28033
59  11120537.0                     los arcos 6 porteria  28033
31  10807090.0                     santa susana,13 2º-2  28033
92  11391826.0          avda, celio villaba nº 6 5º izq  28033
73  11224832.0                          c/ Arte, 21 6ºC  28033

### MadGyvers - AWS Aurora

In [9]:
import pandas as pd
import psycopg2

In [12]:
query = """select *
from loy_sp.customers
limit 100
"""

In [13]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dna' host='savings-plan-prod-c-db-cluster.cluster-cayrodytcwwi.eu-central-1.rds.amazonaws.com' password='sp_dn4!'")
#curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

In [14]:
data.sample(10)

,c_id,c_registered_account,c_registration_ext_s_id,c_registration_date,c_sys_updated_on
24,20621893,True,121,2018-07-02,2018-07-02 14:55:18.291717
51,20663494,True,1,2018-07-07,2018-07-07 16:26:19.757852
59,20663785,True,7,2018-07-07,2018-07-07 17:09:15.486179
64,20663818,True,4,2018-07-07,2018-07-07 17:28:58.161153
57,20663595,True,1,2018-07-07,2018-07-07 16:45:52.779814
3,20479484,True,103,2018-06-14,2018-06-22 20:31:08.730381
11,20505168,True,1,2018-06-18,2018-06-22 21:07:49.978534
52,20663479,True,1,2018-07-07,2018-07-07 16:28:26.076098
5,20479805,True,22,2018-06-14,2018-06-22 20:31:10.379385
27,20662948,True,12,2018-07-07,2018-07-07 15:03:22.552356

### AWS Athena - query engine reading from S3 buckets -

In [5]:
import pandas as pd
import pyathena

In [13]:
query = """select * 
from AwsDataCatalog.zoobrain.article_shop_vat
limit 100
"""

In [14]:
conn = pyathena.connect(aws_access_key_id='AKIAIHG55KNHVHK7Q4IQ',
               aws_secret_access_key='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',
               s3_staging_dir='s3://dna-lake-prod-c-main/athena/output_query',
               region_name='eu-central-1')
data = pd.read_sql(query, con=conn)
conn.close()

In [15]:
data.sample(10)

,asv_as_id,asv_vat_percentage,a_sys_created_on,a_sys_created_by,a_sys_updated_on,a_sys_updated_by
93,1839519.0,25.0,2018-11-20 01:56:52.402,vat-management-api root 192.168.85.179 APP_VAT...,None,None
29,1839458.0,22.0,2018-11-20 01:56:52.315,vat-management-api root 192.168.85.179 APP_VAT...,None,None
17,1839529.0,8.0,2018-11-20 01:56:52.306,vat-management-api root 192.168.85.179 APP_VAT...,None,None
99,1839517.0,24.0,2018-11-20 01:56:52.407,vat-management-api root 192.168.85.179 APP_VAT...,None,None
90,1839520.0,25.0,2018-11-20 01:56:52.393,vat-management-api root 192.168.85.179 APP_VAT...,None,None
98,1839476.0,23.0,2018-11-20 01:56:52.406,vat-management-api root 192.168.85.179 APP_VAT...,None,None
78,1839502.0,20.0,2018-11-20 01:56:52.371,vat-management-api root 192.168.85.179 APP_VAT...,None,None
15,1839453.0,8.0,2018-11-20 01:56:52.305,vat-management-api root 192.168.85.179 APP_VAT...,None,None
43,1839511.0,22.0,2018-11-20 01:56:52.331,vat-management-api root 192.168.85.179 APP_VAT...,None,None
42,1839484.0,22.0,2018-11-20 01:56:52.330,vat-management-api root 192.168.85.179 APP_VAT...,None,None