In [1]:
import numpy as np
import pandas as pd
import psycopg2

#### Let's get from postgres db customer data - active customers in the last 3 years - including order count and calculate cm2%

In [2]:
query = """SELECT cop_c_id, cop_pref_o_ext_s_id, cop_g_order_count, cop_g_net_total, cop_g_cm2
FROM public.customer_order_profile
where cop_g_cm2 is not null
"""

In [3]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9404709 entries, 0 to 9404708
Data columns (total 5 columns):
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
dtypes: float64(2), int64(3)
memory usage: 358.8 MB

In [5]:
data['CM2%'] = data['cop_g_cm2'] / data['cop_g_net_total'] * 100

In [6]:
data.sample(10)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%
8798314,5528020,21,1,51.522064,9.938064,19.288948
7149307,20484093,1,1,20.005800,6.908800,34.533985
7541193,12452194,15,10,994.210564,79.005293,7.946535
1868454,13231500,1,2,309.721311,43.031849,13.893732
7295724,18771611,1,4,215.086764,10.576075,4.917120
2057618,13554664,4,5,229.958333,2.789586,1.213083
8480133,3784739,1,5,101.915920,12.791974,12.551497
6341011,19345385,107,3,102.438016,11.797016,11.516248
2032448,13511481,25,5,463.757389,109.180389,23.542566
8141495,1763255,4,1,34.150000,2.419863,7.085982

In [ ]:
# Get all the existing customers having 2 or more orders finished
# data = data[data['cop_g_order_count'] >= 2]

In [7]:
site_dict = {1: 'Deutschland',
 2: 'International',
 3: 'United Kingdom',
 4: 'France',
 7: 'Netherlands',
 8: 'Poland',
 11: 'Eire',
 12: 'Italy',
 14: 'Belgium',
 15: 'Spain',
 16: 'Czech',
 18: 'Finland',
 19: 'Slovakia',
 20: 'Russia',
 21: 'Denmark',
 22: 'Hungary',
 23: 'Slovenia',
 24: 'Romania',
 25: 'Switzerland',
 26: 'Sweden',
 28: 'Portugal',
 29: 'Croatia',
 30: 'Bulgaria',
 31: 'Norway',
 32: 'Greece'}

In [8]:
np.sort(data['cop_pref_o_ext_s_id'].unique())[:25]

array([ 1,  2,  3,  4,  7,  8, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 28, 29, 30, 31, 32], dtype=int64)

#### Now, from Oracle db, get old and new eligibility status for registered customers that have been active in the last 3 years

In [10]:
import cx_Oracle

In [11]:
query = """select 
k_id,
cz_cti_id old_tier,
cz_invitation_type old_box,
e_tier_id new_tier,
e_invitation_type new_box,
k_registration_s_id
from kunden 
left outer join customers_zooprime on cz_k_id=k_id
left outer join loy_sp.eligibilities on E_EXT_K_ID=k_id
where k_Register = 1
and k_id in (select distinct o_k_id 
from orders
where o_datum > trunc(sysdate - (365 * 3)))
"""

In [12]:
conn = cx_Oracle.connect('readonly', 'read_123', 'db-zpmstb-01:1521/zpmstb.web.zooplus.de', threaded=True, encoding = "UTF-8", nencoding = "UTF-8")
curs = conn.cursor()
o_data = pd.read_sql(query, con = conn)
conn.close()

In [13]:
o_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9613936 entries, 0 to 9613935
Data columns (total 6 columns):
K_ID                   int64
OLD_TIER               float64
OLD_BOX                object
NEW_TIER               float64
NEW_BOX                object
K_REGISTRATION_S_ID    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 440.1+ MB

In [14]:
o_data.head()

       K_ID  OLD_TIER OLD_BOX  NEW_TIER NEW_BOX  K_REGISTRATION_S_ID
0   9758541       0.0       Z       0.0       Z                  103
1  19611130       0.0       Z       0.0       Z                  101
2  14890557       0.0       Z       0.0       Z                   18
3  15896569       4.0       A       4.0       A                   12
4  12163469       0.0       Z       0.0       Z                   21

#### Merging tables by customer ID

In [78]:
cus_data = o_data.merge(data, how='inner', left_on='K_ID', right_on='cop_c_id')

In [79]:
cus_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9245614 entries, 0 to 9245613
Data columns (total 12 columns):
K_ID                   int64
OLD_TIER               float64
OLD_BOX                object
NEW_TIER               float64
NEW_BOX                object
K_REGISTRATION_S_ID    int64
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
CM2%                   float64
dtypes: float64(5), int64(5), object(2)
memory usage: 917.0+ MB

In [80]:
cus_data.sample(5)

,K_ID,OLD_TIER,OLD_BOX,NEW_TIER,NEW_BOX,K_REGISTRATION_S_ID,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%
8368569,14472869,6.0,N,0.0,Z,103,14472869,103,1,43.717057,-2.189963,-5.009402
8016741,2533576,0.0,Z,6.0,N,1,2533576,1,1,46.649571,8.191546,17.559746
8763854,19709698,0.0,Z,0.0,Z,19,19709698,19,2,70.816667,1.670017,2.358226
72441,5913013,4.0,A,4.0,A,7,5913013,7,10,294.330579,32.700219,11.110031
8616004,17940089,6.0,C,0.0,Z,7,17940089,7,1,42.380165,8.758745,20.667086

In [81]:
zp_countries = [ 1,  2,  3,  4,  7,  8, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 28, 29, 30, 31, 32]

In [82]:
cus_data[cus_data['cop_pref_o_ext_s_id'].isin(zp_countries)]['cop_c_id'].count()

8055382

#### Select all customers in Z+ shops and having 2 or more orders (considered as existing customers)

In [83]:
zp_data = cus_data[cus_data['cop_pref_o_ext_s_id'].isin(np.sort(data['cop_pref_o_ext_s_id'].unique())[:25])]

In [84]:
# Zooplus sites
np.sort(zp_data['cop_pref_o_ext_s_id'].unique())

array([ 1,  2,  3,  4,  7,  8, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 28, 29, 30, 31, 32], dtype=int64)

In [85]:
# Only customers having 2 or more orders finished
zp_data = zp_data[zp_data['cop_g_order_count'] >= 2]

In [86]:
zp_data['OLD_TIER'].unique(), zp_data['NEW_TIER'].unique(), zp_data['cop_g_order_count'].min()

(array([   0.,    4.,    5.,   25., 1004., 1000.,   24.,    6., 1005.,
          nan]),
 array([   0.,    4.,    5.,   25., 1004.,   24., 1000., 1005.,    6.]),
 2)

In [87]:
zp_data = zp_data.dropna()

In [88]:
zp_data.sample(10)

,K_ID,OLD_TIER,OLD_BOX,NEW_TIER,NEW_BOX,K_REGISTRATION_S_ID,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%
5900574,12935876,0.0,Z,4.0,A,12,12935876,12,4,175.319643,19.707991,11.241177
5410608,3108566,0.0,Z,0.0,Z,4,3108566,4,10,509.916666,83.973497,16.468082
1392574,14824507,0.0,Z,0.0,Z,21,14824507,21,3,243.069584,-7.638696,-3.142596
571381,2107244,0.0,Z,24.0,A,1,2107244,1,17,1045.904759,108.790702,10.401588
3661146,14126169,0.0,Z,0.0,Z,8,14126169,8,2,47.678614,0.729614,1.530275
7108081,13669076,0.0,Z,4.0,B4,4,13669076,4,6,250.933333,19.651497,7.831362
6228019,18487622,5.0,A,5.0,A,12,18487622,12,3,135.631148,35.510780,26.181877
1775536,15958518,0.0,Z,0.0,Z,8,15958518,8,2,42.830140,-3.485860,-8.138801
1661406,15593193,0.0,Z,0.0,Z,3,15593193,3,11,564.409870,20.721331,3.671327
1639823,15571154,4.0,B3,5.0,B4,7,15571154,7,5,357.801653,61.860633,17.289085

In [89]:
zp_crosstab = zp_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['cop_c_id'].count().unstack()

In [90]:
zp_crosstab.fillna(0).astype(int)

NEW_TIER,0.0,4.0,5.0,6.0,24.0,25.0,1000.0,1004.0,1005.0
OLD_TIER,,,,,,,,,
0.0,1935809,575682,18485,103,13662,496,4397,15782,68
4.0,92034,971420,448755,120,242,63,8629,5453,943
5.0,13804,116847,523282,58,15,229,974,754,524
6.0,2984,2930,2224,400,69,28,42,38,6
24.0,1938,117,45,2,21628,6493,0,0,0
25.0,329,18,63,1,1709,7815,0,0,0
1000.0,2154,964,226,7,0,0,9368,0,0
1004.0,1448,257,35,0,0,0,0,8274,625
1005.0,357,66,79,0,0,0,0,1781,1706

In [91]:
zp_data = zp_data[(zp_data['OLD_TIER'] != float(6)) & (zp_data['NEW_TIER'] != float(6))]

In [92]:
zp_crosstab = zp_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['cop_c_id'].count().unstack()

In [93]:
zp_crosstab.fillna(0).astype(int)

NEW_TIER   0.0     4.0     5.0     24.0    25.0    1000.0  1004.0  1005.0
OLD_TIER
0.0       1935809  575682   18485   13662     496    4397   15782      68
4.0         92034  971420  448755     242      63    8629    5453     943
5.0         13804  116847  523282      15     229     974     754     524
24.0         1938     117      45   21628    6493       0       0       0
25.0          329      18      63    1709    7815       0       0       0
1000.0       2154     964     226       0       0    9368       0       0
1004.0       1448     257      35       0       0       0    8274     625
1005.0        357      66      79       0       0       0    1781    1706

In [94]:
zp_crosstab['SUM_OLD_TIER'] = zp_crosstab.apply(np.sum, axis=1)

In [95]:
zp_crosstab.loc['SUM_NEW_TIER'] = zp_crosstab.apply(np.sum, axis=0)

In [96]:
zp_crosstab['OLD_DIST%'] = zp_crosstab['SUM_OLD_TIER'] / zp_crosstab['SUM_OLD_TIER']['SUM_NEW_TIER'] * 100

In [97]:
zp_crosstab.loc['NEW_DIST%'] = zp_crosstab.loc['SUM_NEW_TIER'] / zp_crosstab.loc['SUM_NEW_TIER']['SUM_OLD_TIER'] * 100

In [98]:
zp_crosstab.fillna(0).astype(int)

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,1935809,575682,18485,13662,496,4397,15782,68,2564381,53
4.0,92034,971420,448755,242,63,8629,5453,943,1527539,31
5.0,13804,116847,523282,15,229,974,754,524,656429,13
24.0,1938,117,45,21628,6493,0,0,0,30221,0
25.0,329,18,63,1709,7815,0,0,0,9934,0
1000.0,2154,964,226,0,0,9368,0,0,12712,0
1004.0,1448,257,35,0,0,0,8274,625,10639,0
1005.0,357,66,79,0,0,0,1781,1706,3989,0
SUM_NEW_TIER,2047873,1665371,990970,37256,15096,23368,32044,3866,4815844,100
NEW_DIST%,42,34,20,0,0,0,0,0,100,0

In [99]:
zp_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4815844 entries, 2 to 9245370
Data columns (total 12 columns):
K_ID                   int64
OLD_TIER               float64
OLD_BOX                object
NEW_TIER               float64
NEW_BOX                object
K_REGISTRATION_S_ID    int64
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
CM2%                   float64
dtypes: float64(5), int64(5), object(2)
memory usage: 477.6+ MB

In [100]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [101]:
for i in np.sort(zp_data['cop_pref_o_ext_s_id'].unique()):
    print('                                                SITE ' + str(i) + '                                                           ')
    cus_data = zp_data[zp_data['K_REGISTRATION_S_ID'] == i]
    crosstab = cus_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['cop_c_id'].count().unstack()
    crosstab_rel = crosstab.apply(lambda x:x/x.sum() * 100, axis=1).fillna(0).round(2)
    display(crosstab_rel.style.apply(highlight_max, axis=1))
    crosstab['SUM_OLD_TIER'] = crosstab.apply(np.sum, axis=1)
    crosstab.loc['SUM_NEW_TIER'] = crosstab.apply(np.sum, axis=0)
    crosstab['OLD_DIST%'] = crosstab['SUM_OLD_TIER'] / crosstab['SUM_OLD_TIER']['SUM_NEW_TIER'] * 100
    crosstab.loc['NEW_DIST%'] = crosstab.loc['SUM_NEW_TIER'] / crosstab.loc['SUM_NEW_TIER']['SUM_OLD_TIER'] * 100
    display(crosstab.fillna(0).astype(int))
    print('Percentage of non-eligible customers with the old routine: ',
          np.round(cus_data[(cus_data['OLD_TIER'] == 0) | (cus_data['OLD_TIER'].isnull())]['cop_c_id'].count() / cus_data['cop_c_id'].count() * 100, 2))
    print('Percentage of non-eligible customers with the new routine: ',
          np.round(cus_data[(cus_data['NEW_TIER'] == 0) | (cus_data['NEW_TIER'].isnull())]['cop_c_id'].count() / cus_data['cop_c_id'].count() * 100, 2))
    print('_______________________________________________________________________________________________________________________')
    print('')

                                                SITE 1

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,421557,122786,4983,13626,494,32,25,0,563503,46
4.0,19106,274953,107710,232,58,30,19,3,402111,33
5.0,4314,45772,156010,14,228,4,2,2,206346,17
24.0,1922,92,36,21552,6446,0,0,0,30048,2
25.0,327,15,48,1698,7742,0,0,0,9830,0
1000.0,6,4,2,0,0,38,0,0,50,0
1004.0,3,0,0,0,0,0,16,4,23,0
1005.0,0,0,0,0,0,0,6,1,7,0
SUM_NEW_TIER,447235,443622,268789,37122,14968,104,68,10,1211918,100
NEW_DIST%,36,36,22,3,1,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  46.5
Percentage of non-eligible customers with the new routine:  36.9
_______________________________________________________________________________________________________________________

                                                SITE 2

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,3715,630,35,3,0,1,6,0,4390,52
4.0,224,1687,753,1,1,5,1,0,2672,32
5.0,39,262,906,0,0,0,1,0,1208,14
24.0,1,0,0,11,9,0,0,0,21,0
25.0,1,0,1,1,18,0,0,0,21,0
1000.0,0,2,2,0,0,8,0,0,12,0
1004.0,2,0,0,0,0,0,2,0,4,0
1005.0,0,0,0,0,0,0,1,2,3,0
SUM_NEW_TIER,3982,2581,1697,16,28,14,11,2,8331,100
NEW_DIST%,47,30,20,0,0,0,0,0,100,1

Percentage of non-eligible customers with the old routine:  52.69
Percentage of non-eligible customers with the new routine:  47.8
_______________________________________________________________________________________________________________________

                                                SITE 3

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,
0.0,218808,103675,5275,3,1,1,3,327766,74
4.0,6085,24221,48148,0,2,5,1,78462,17
5.0,567,6333,25117,1,0,1,0,32019,7
24.0,0,2,0,5,5,0,0,12,0
25.0,0,0,1,1,10,0,0,12,0
1000.0,1,0,1,0,0,6,0,8,0
1004.0,2,0,0,0,0,0,4,6,0
SUM_NEW_TIER,225463,134231,78542,10,18,13,8,438285,100
NEW_DIST%,51,30,17,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  74.78
Percentage of non-eligible customers with the new routine:  51.44
_______________________________________________________________________________________________________________________

                                                SITE 4

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,309124,108382,1205,0,0,3,15701,66,434481,52
4.0,13995,180556,69107,0,0,3,5411,929,270001,32
5.0,2382,17299,89158,0,0,0,745,518,110102,13
24.0,1,3,1,7,3,0,0,0,15,0
25.0,0,0,0,1,1,0,0,0,2,0
1000.0,0,1,0,0,0,1,0,0,2,0
1004.0,1436,255,34,0,0,0,8207,617,10549,1
1005.0,357,66,79,0,0,0,1765,1691,3958,0
SUM_NEW_TIER,327295,306562,159584,8,4,7,31829,3821,829110,100
NEW_DIST%,39,36,19,0,0,0,3,0,100,0

Percentage of non-eligible customers with the old routine:  52.4
Percentage of non-eligible customers with the new routine:  39.48
_______________________________________________________________________________________________________________________

                                                SITE 7

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,188023,40433,1240,1,0,4341,0,0,234038,48
4.0,11661,103049,33381,0,0,8550,0,1,156642,32
5.0,1523,11570,62039,0,0,963,0,0,76095,15
24.0,2,0,0,6,4,0,0,0,12,0
25.0,0,1,3,2,4,0,0,0,10,0
1000.0,2135,956,220,0,0,9280,0,0,12591,2
1004.0,0,0,0,0,0,0,4,1,5,0
SUM_NEW_TIER,203344,156009,96883,9,8,23134,4,2,479393,100
NEW_DIST%,42,32,20,0,0,4,0,0,100,0

Percentage of non-eligible customers with the old routine:  48.82
Percentage of non-eligible customers with the new routine:  42.42
_______________________________________________________________________________________________________________________

                                                SITE 8

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,
0.0,206163,25699,1372,5,0,2,233241,56
4.0,14658,81871,39704,1,0,3,136237,33
5.0,1135,3884,37517,0,0,0,42536,10
24.0,1,4,0,5,2,0,12,0
25.0,0,0,0,0,2,0,2,0
1000.0,3,1,0,0,0,4,8,0
SUM_NEW_TIER,221960,111459,78593,11,4,9,412036,100
NEW_DIST%,53,27,19,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  56.61
Percentage of non-eligible customers with the new routine:  53.87
_______________________________________________________________________________________________________________________

                                                SITE 11

NEW_TIER        0.0   4.0   5.0  24.0  25.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0            9507   885    20     1     0       1         10414         54
4.0             807  5694   433     1     0       1          6936         36
5.0             117   541  1146     0     0       0          1804          9
24.0              0     0     0     1     2       0             3          0
25.0              0     0     0     0     1       0             1          0
SUM_NEW_TIER  10431  7120  1599     3     3       2         19158        100
NEW_DIST%        54    37     8     0     0       0           100          0

Percentage of non-eligible customers with the old routine:  54.36
Percentage of non-eligible customers with the new routine:  54.45
_______________________________________________________________________________________________________________________

                                                SITE 12

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,
0.0,147504,62582,913,1,0,1,0,211001,55
4.0,4723,72769,45027,0,0,0,0,122519,32
5.0,1126,8104,36913,0,0,2,1,46146,12
24.0,2,7,1,3,1,0,0,14,0
25.0,0,0,0,1,3,0,0,4,0
1004.0,0,0,0,0,0,0,2,2,0
1005.0,0,0,0,0,0,0,1,1,0
SUM_NEW_TIER,153355,143462,82854,5,4,3,4,379687,100
NEW_DIST%,40,37,21,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  55.57
Percentage of non-eligible customers with the new routine:  40.39
_______________________________________________________________________________________________________________________

                                                SITE 14

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,36955,10522,117,0,0,15,43,0,47652,56
4.0,990,16710,7426,1,0,30,17,6,25180,30
5.0,241,2086,8616,0,0,4,5,2,10954,13
24.0,2,1,1,2,1,0,0,0,7,0
25.0,0,0,0,0,1,0,0,0,1,0
1000.0,7,0,1,0,0,27,0,0,35,0
1004.0,4,2,0,0,0,0,35,1,42,0
1005.0,0,0,0,0,0,0,8,7,15,0
SUM_NEW_TIER,38199,29321,16161,3,2,76,108,16,83886,100
NEW_DIST%,45,34,19,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  56.81
Percentage of non-eligible customers with the new routine:  45.54
_______________________________________________________________________________________________________________________

                                                SITE 15

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,133198,33431,1728,5,0,1,3,1,168367,59
4.0,8528,38594,38763,1,1,3,1,0,85891,30
5.0,951,3529,22588,0,1,0,0,0,27069,9
24.0,1,1,1,2,1,0,0,0,6,0
25.0,0,0,0,1,6,0,0,0,7,0
1000.0,2,0,0,0,0,3,0,0,5,0
1004.0,1,0,1,0,0,0,3,0,5,0
SUM_NEW_TIER,142681,75555,63081,9,9,7,7,1,281350,100
NEW_DIST%,50,26,22,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  59.84
Percentage of non-eligible customers with the new routine:  50.71
_______________________________________________________________________________________________________________________

                                                SITE 16

NEW_TIER        0.0    4.0    5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           50035  15700    303     1     1         66040         50
4.0            2389  35304   9839     0     0         47532         36
5.0             198   1745  15261     0     0         17204         13
24.0              2      0      1     2     1             6          0
25.0              0      0      1     0     2             3          0
SUM_NEW_TIER  52624  52749  25405     3     4        130785        100
NEW_DIST%        40     40     19     0     0           100          0

Percentage of non-eligible customers with the old routine:  50.5
Percentage of non-eligible customers with the new routine:  40.24
_______________________________________________________________________________________________________________________

                                                SITE 18

NEW_TIER        0.0    4.0    5.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           29313   4851    115     0         34279         43
4.0            2321  22396   6431     0         31148         39
5.0             349   2763   9794     0         12906         16
24.0              0      0      0     1             1          0
SUM_NEW_TIER  31983  30010  16340     1         78334        100
NEW_DIST%        40     38     20     0           100          0

Percentage of non-eligible customers with the old routine:  43.76
Percentage of non-eligible customers with the new routine:  40.83
_______________________________________________________________________________________________________________________

                                                SITE 19

NEW_TIER        0.0    4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           11834   4917   107     7     0         16865         55
4.0             482   5285  3459     5     0          9231         30
5.0              62    326  3931     0     0          4319         14
24.0              2      0     1    12    10            25          0
25.0              0      0     5     1     9            15          0
SUM_NEW_TIER  12380  10528  7503    25    19         30455        100
NEW_DIST%        40     34    24     0     0           100          0

Percentage of non-eligible customers with the old routine:  55.38
Percentage of non-eligible customers with the new routine:  40.65
_______________________________________________________________________________________________________________________

                                                SITE 20

NEW_TIER       0.0   4.0  5.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           2177   241    1       0          2419         60
4.0             70  1033  140       0          1243         31
5.0             13    39  285       0           337          8
1004.0           0     0    0       1             1          0
SUM_NEW_TIER  2260  1313  426       1          4000        100
NEW_DIST%       56    32   10       0           100          2

Percentage of non-eligible customers with the old routine:  60.48
Percentage of non-eligible customers with the new routine:  56.5
_______________________________________________________________________________________________________________________

                                                SITE 21

NEW_TIER        0.0    4.0    5.0  24.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           36276  13307    144     0         49727         46
4.0            1346  27344   8682     0         37372         34
5.0             344   3314  16727     0         20385         18
24.0              1      1      0     2             4          0
SUM_NEW_TIER  37967  43966  25553     2        107488        100
NEW_DIST%        35     40     23     0           100          0

Percentage of non-eligible customers with the old routine:  46.26
Percentage of non-eligible customers with the new routine:  35.32
_______________________________________________________________________________________________________________________

                                                SITE 22

NEW_TIER        0.0    4.0    5.0  24.0  25.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           22163   7333    289     7     0       0         29792         64
4.0             471   5009   6310     0     0       1         11791         25
5.0              48    308   3908     0     0       0          4264          9
24.0              0      0      2     6     6       0            14          0
25.0              0      0      0     2     7       0             9          0
SUM_NEW_TIER  22682  12650  10509    15    13       1         45870        100
NEW_DIST%        49     27     22     0     0       0           100          0

Percentage of non-eligible customers with the old routine:  64.95
Percentage of non-eligible customers with the new routine:  49.45
_______________________________________________________________________________________________________________________

                                                SITE 23

NEW_TIER        0.0    4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0            9951   1684    13     0     0         11648         45
4.0             389   7911  1079     0     0          9379         36
5.0              58   1026  3665     0     0          4749         18
24.0              1      0     0     5     0             6          0
25.0              0      2     1     1     3             7          0
SUM_NEW_TIER  10399  10623  4758     6     3         25789        100
NEW_DIST%        40     41    18     0     0           100          0

Percentage of non-eligible customers with the old routine:  45.17
Percentage of non-eligible customers with the new routine:  40.32
_______________________________________________________________________________________________________________________

                                                SITE 24

NEW_TIER        0.0   4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           13825  1414    72     0     0         15311         55
4.0             545  5405  3501     0     1          9452         34
5.0              15   143  2547     0     0          2705          9
24.0              0     0     0     2     1             3          0
25.0              0     0     0     0     1             1          0
SUM_NEW_TIER  14385  6962  6120     2     3         27472        100
NEW_DIST%        52    25    22     0     0           100          0

Percentage of non-eligible customers with the old routine:  55.73
Percentage of non-eligible customers with the new routine:  52.36
_______________________________________________________________________________________________________________________

                                                SITE 25

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,26383,950,302,1,0,0,0,1,27637,35
4.0,866,25847,3738,0,0,0,1,4,30456,38
5.0,70,6231,13914,0,0,0,0,2,20217,25
24.0,0,6,1,5,0,0,0,0,12,0
25.0,1,0,3,0,3,0,0,0,7,0
1000.0,0,0,0,0,0,1,0,0,1,0
1004.0,0,0,0,0,0,0,0,2,2,0
1005.0,0,0,0,0,0,0,0,5,5,0
SUM_NEW_TIER,27320,33034,17958,6,3,1,1,14,78337,100
NEW_DIST%,34,42,22,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  35.28
Percentage of non-eligible customers with the new routine:  34.87
_______________________________________________________________________________________________________________________

                                                SITE 26

NEW_TIER        0.0    4.0    5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           32168  12942    190         45300         49
4.0            1375  23197  12793         37365         40
5.0             188   1162   7939          9289         10
SUM_NEW_TIER  33731  37301  20922         91954        100
NEW_DIST%        36     40     22           100          0

Percentage of non-eligible customers with the old routine:  49.26
Percentage of non-eligible customers with the new routine:  36.68
_______________________________________________________________________________________________________________________

                                                SITE 28

NEW_TIER       0.0   4.0   5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           8567   805    12          9384         62
4.0            314  3738   587          4639         30
5.0             14    79   966          1059          7
SUM_NEW_TIER  8895  4622  1565         15082        100
NEW_DIST%       58    30    10           100          0

Percentage of non-eligible customers with the old routine:  62.22
Percentage of non-eligible customers with the new routine:  58.98
_______________________________________________________________________________________________________________________

                                                SITE 29

NEW_TIER       0.0   4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           5875   924    19     1     0          6819         52
4.0            180  3457   704     0     0          4341         33
5.0             13   129  1770     0     0          1912         14
25.0             0     0     0     0     1             1          0
SUM_NEW_TIER  6068  4510  2493     1     1         13073        100
NEW_DIST%       46    34    19     0     0           100          0

Percentage of non-eligible customers with the old routine:  52.16
Percentage of non-eligible customers with the new routine:  46.42
_______________________________________________________________________________________________________________________

                                                SITE 30

NEW_TIER       0.0   4.0   5.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           3381  1404    25     0          4810         61
4.0             29  1430   717     0          2176         27
5.0              5    49   786     0           840         10
25.0             0     0     0     1             1          0
SUM_NEW_TIER  3415  2883  1528     1          7827        100
NEW_DIST%       43    36    19     0           100          1

Percentage of non-eligible customers with the old routine:  61.45
Percentage of non-eligible customers with the new routine:  43.63
_______________________________________________________________________________________________________________________

                                                SITE 31

NEW_TIER       0.0   4.0   5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           6664   164     5          6833         52
4.0            310  3669   304          4283         33
5.0             32   115  1683          1830         14
SUM_NEW_TIER  7006  3948  1992         12946        100
NEW_DIST%       54    30    15           100          0

Percentage of non-eligible customers with the old routine:  52.78
Percentage of non-eligible customers with the new routine:  54.12
_______________________________________________________________________________________________________________________

                                                SITE 32

NEW_TIER       0.0  4.0  5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           2642   21    0          2663         81
4.0            170  291   19           480         14
5.0              0   38   96           134          4
SUM_NEW_TIER  2812  350  115          3277        100
NEW_DIST%       85   10    3           100          3

Percentage of non-eligible customers with the old routine:  81.26
Percentage of non-eligible customers with the new routine:  85.81
_______________________________________________________________________________________________________________________