In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt
import cx_Oracle
from IPython.display import display
%matplotlib inline

#import warnings
#warnings.filterwarnings('ignore')

### Let's see the overview only with data coming from Z+ Shops 'active' customers (not bitiba and others)

In [2]:
# Data coming from all active customers in the last three years
data = pd.read_csv('comparison_eligibilities_per_site_active_customers_23082018.dsv', sep=';')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2847 entries, 0 to 2846
Data columns (total 6 columns):
OLD_TIER               2771 non-null float64
OLD_BOX                2771 non-null object
NEW_TIER               2763 non-null float64
NEW_BOX                2763 non-null object
K_REGISTRATION_S_ID    2847 non-null int64
AMOUNT                 2847 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 133.5+ KB

In [4]:
data.sample(5)

      OLD_TIER OLD_BOX  NEW_TIER NEW_BOX  K_REGISTRATION_S_ID  AMOUNT
165        5.0      B3       5.0      B3                    4      34
2006       4.0      B2       4.0      B1                   28      16
1125       4.0      B3       5.0       A                   16      67
2034       4.0       A       4.0      B3                   16       2
2822       4.0      B3       4.0      B1                    3       1

In [5]:
# Site IDs from Zooplus Shops
np.sort(data['K_REGISTRATION_S_ID'].unique())[:26]

array([ 1,  2,  3,  4,  7,  8,  9, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 28, 29, 30, 31, 32], dtype=int64)

In [6]:
# Get only data from Zooplus Shops
zp_data = data[data['K_REGISTRATION_S_ID'].isin(np.sort(data['K_REGISTRATION_S_ID'].unique())[:26])]

In [7]:
zp_data = zp_data[~zp_data.apply(lambda x: x.isnull().any(), axis=1)]

In [8]:
#Total amount of customers
zp_data['AMOUNT'].sum()

8350791

In [9]:
zp_crosstab = zp_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['AMOUNT'].sum().unstack()

In [10]:
zp_crosstab_rel = zp_crosstab.apply(lambda x:x/x.sum() * 100, axis=1).fillna(0).round(2)

In [11]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [12]:
# Relative values of transition between old and new eligibility
zp_crosstab_rel.style.apply(highlight_max, axis=1)

In [13]:
zp_crosstab['SUM_OLD_TIER'] = zp_crosstab.apply(np.sum, axis=1)

In [14]:
zp_crosstab.loc['SUM_NEW_TIER'] = zp_crosstab.apply(np.sum, axis=0)

In [15]:
#Calculate final % per Tier with the old/new routine

In [16]:
zp_crosstab['OLD_DIST%'] = zp_crosstab['SUM_OLD_TIER'] / zp_crosstab['SUM_OLD_TIER']['SUM_NEW_TIER'] * 100

In [17]:
zp_crosstab.loc['NEW_DIST%'] = zp_crosstab.loc['SUM_NEW_TIER'] / zp_crosstab.loc['SUM_NEW_TIER']['SUM_OLD_TIER'] * 100

In [18]:
# Absolute values of transition between old and new eligibility
zp_crosstab.fillna(0).astype(int)

NEW_TIER,0.0,4.0,5.0,6.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,,
0.0,2109158,571855,18191,68259,13575,497,4285,15589,60,2801469,33
4.0,264934,970668,447218,167035,256,62,8487,5464,938,1865062,22
5.0,168038,116526,526160,119659,15,260,952,749,525,932884,11
6.0,1686739,1618,1235,977165,25,11,18,21,3,2666835,31
24.0,3418,118,46,5269,21579,6471,0,0,0,36901,0
25.0,884,19,64,2778,1704,7814,0,0,0,13263,0
1000.0,2431,968,216,5551,0,0,9325,0,0,18491,0
1004.0,2126,263,35,81,0,0,0,8212,618,11335,0
1005.0,854,68,80,83,0,0,0,1761,1705,4551,0
SUM_NEW_TIER,4238582,1662103,993245,1345880,37154,15115,23067,31796,3849,8350791,100
NEW_DIST%,50,19,11,16,0,0,0,0,0,100,0

In [19]:
# Let's exclude new customers in the old and new routine (evaluated in reality by API calls from checkout and myzooplus)
zp_data = zp_data[(zp_data['OLD_TIER'] != float(6)) & (zp_data['NEW_TIER'] != float(6))]

In [20]:
#Exclude rows with NaN values (null)
zp_data = zp_data[~zp_data.apply(lambda x: x.isnull().any(), axis=1)]

In [21]:
# Total amount of customers after excluding Tier 6 customers in old or new routine
zp_data['AMOUNT'].sum()

5315241

In [22]:
# There is no Tier 6 now in our data
zp_data['OLD_TIER'].unique(), zp_data['NEW_TIER'].unique()

(array([   0.,    4.,    5.,   24., 1004., 1000.,   25., 1005.]),
 array([   0.,    5.,    4., 1004.,   24., 1000., 1005.,   25.]))

In [23]:
zp_crosstab = zp_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['AMOUNT'].sum().unstack()

In [24]:
zp_crosstab_rel = zp_crosstab.apply(lambda x:x/x.sum() * 100, axis=1).fillna(0).round(2)

In [25]:
# Relative values of transition between old and new eligibility
zp_crosstab_rel.style.apply(highlight_max, axis=1)

In [26]:
zp_crosstab['SUM_OLD_TIER'] = zp_crosstab.apply(np.sum, axis=1)

In [27]:
zp_crosstab.loc['SUM_NEW_TIER'] = zp_crosstab.apply(np.sum, axis=0)

In [28]:
#Calculate final % per Tier with the old/new routine

In [29]:
zp_crosstab['OLD_DIST%'] = zp_crosstab['SUM_OLD_TIER'] / zp_crosstab['SUM_OLD_TIER']['SUM_NEW_TIER'] * 100

In [30]:
zp_crosstab.loc['NEW_DIST%'] = zp_crosstab.loc['SUM_NEW_TIER'] / zp_crosstab.loc['SUM_NEW_TIER']['SUM_OLD_TIER'] * 100

In [31]:
# Absolute values of transition between old and new eligibility
zp_crosstab.fillna(0).astype(int)

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,2109158,571855,18191,13575,497,4285,15589,60,2733210,51
4.0,264934,970668,447218,256,62,8487,5464,938,1698027,31
5.0,168038,116526,526160,15,260,952,749,525,813225,15
24.0,3418,118,46,21579,6471,0,0,0,31632,0
25.0,884,19,64,1704,7814,0,0,0,10485,0
1000.0,2431,968,216,0,0,9325,0,0,12940,0
1004.0,2126,263,35,0,0,0,8212,618,11254,0
1005.0,854,68,80,0,0,0,1761,1705,4468,0
SUM_NEW_TIER,2551843,1660485,992010,37129,15104,23049,31775,3846,5315241,100
NEW_DIST%,48,31,18,0,0,0,0,0,100,0

In [33]:
np.round(2733210 / 8350791, 2),  np.round((5315241 - 2733210) / 8350791, 2)

(0.33, 0.31)

In [34]:
np.round(2551843 / 8350791, 2),  np.round((5315241 - 2551843) / 8350791, 2)

(0.31, 0.33)

In [32]:
for i in np.sort(data['K_REGISTRATION_S_ID'].unique())[:26]:
    print('                                                SITE ' + str(i) + '                                                           ')
    cus_data = zp_data[zp_data['K_REGISTRATION_S_ID'] == i]
    crosstab = cus_data.fillna('not_segmented').groupby(['OLD_TIER', 'NEW_TIER'])['AMOUNT'].sum().unstack()
    crosstab_rel = crosstab.apply(lambda x:x/x.sum() * 100, axis=1).fillna(0).round(2)
    display(crosstab_rel.style.apply(highlight_max, axis=1))
    crosstab['SUM_OLD_TIER'] = crosstab.apply(np.sum, axis=1)
    crosstab.loc['SUM_NEW_TIER'] = crosstab.apply(np.sum, axis=0)
    crosstab['OLD_DIST%'] = crosstab['SUM_OLD_TIER'] / crosstab['SUM_OLD_TIER']['SUM_NEW_TIER'] * 100
    crosstab.loc['NEW_DIST%'] = crosstab.loc['SUM_NEW_TIER'] / crosstab.loc['SUM_NEW_TIER']['SUM_OLD_TIER'] * 100
    display(crosstab.fillna(0).astype(int))
    print('Percentage of non-eligible customers with the old routine: ',
          np.round(cus_data[(cus_data['OLD_TIER'] == 0) | (cus_data['OLD_TIER'].isnull())]['AMOUNT'].sum() / cus_data['AMOUNT'].sum() * 100, 2))
    print('Percentage of non-eligible customers with the new routine: ',
          np.round(cus_data[(cus_data['NEW_TIER'] == 0) | (cus_data['NEW_TIER'].isnull())]['AMOUNT'].sum() / cus_data['AMOUNT'].sum() * 100, 2))
    print('_______________________________________________________________________________________________________________________')
    print('')

                                                SITE 1

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,461268,122184,4995,13538,495,31,24,0,602535,46
4.0,46014,274499,107320,246,57,28,19,2,428185,33
5.0,22179,45592,156209,14,258,2,2,2,224258,17
24.0,3393,93,37,21501,6425,0,0,0,31449,2
25.0,875,16,48,1690,7741,0,0,0,10370,0
1000.0,6,4,2,0,0,36,0,0,48,0
1004.0,4,1,0,0,0,0,15,4,24,0
1005.0,0,0,0,0,0,0,6,1,7,0
SUM_NEW_TIER,533739,442389,268611,36989,14976,97,66,9,1296876,100
NEW_DIST%,41,34,20,2,1,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  46.46
Percentage of non-eligible customers with the new routine:  41.16
_______________________________________________________________________________________________________________________

                                                SITE 2

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,4207,625,35,3,0,1,6,0,4877,51
4.0,554,1686,746,1,1,5,1,0,2994,31
5.0,323,265,920,0,0,0,1,0,1509,15
24.0,2,0,0,11,9,0,0,0,22,0
25.0,1,0,2,1,18,0,0,0,22,0
1000.0,0,1,2,0,0,8,0,0,11,0
1004.0,3,0,0,0,0,0,2,0,5,0
1005.0,0,0,0,0,0,0,1,2,3,0
SUM_NEW_TIER,5090,2577,1705,16,28,14,11,2,9443,100
NEW_DIST%,53,27,18,0,0,0,0,0,100,1

Percentage of non-eligible customers with the old routine:  51.65
Percentage of non-eligible customers with the new routine:  53.9
_______________________________________________________________________________________________________________________

                                                SITE 3

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,
0.0,246299,102926,5161,3,1,1,4,354395,71
4.0,23899,24396,48105,0,2,6,1,96409,19
5.0,13707,6346,25694,1,0,1,0,45749,9
24.0,0,2,0,5,5,0,0,12,0
25.0,1,0,1,1,10,0,0,13,0
1000.0,0,0,1,0,0,7,0,8,0
1004.0,2,0,0,0,0,0,4,6,0
1005.0,1,0,0,0,0,0,0,1,0
SUM_NEW_TIER,283909,133670,78962,10,18,15,9,496593,100
NEW_DIST%,57,26,15,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  71.37
Percentage of non-eligible customers with the new routine:  57.17
_______________________________________________________________________________________________________________________

                                                SITE 4

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,336454,107719,1170,0,0,3,15506,59,460911,49
4.0,54146,180751,68880,0,0,3,5423,926,310129,33
5.0,43007,17239,90001,0,0,0,739,519,151505,16
24.0,1,3,1,7,3,0,0,0,15,0
25.0,0,0,0,1,1,0,0,0,2,0
1000.0,0,1,0,0,0,1,0,0,2,0
1004.0,2110,260,34,0,0,0,8145,610,11159,1
1005.0,841,68,80,0,0,0,1747,1690,4426,0
SUM_NEW_TIER,436559,306041,160166,8,4,7,31560,3804,938149,100
NEW_DIST%,46,32,17,0,0,0,3,0,100,0

Percentage of non-eligible customers with the old routine:  49.13
Percentage of non-eligible customers with the new routine:  46.53
_______________________________________________________________________________________________________________________

                                                SITE 7

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,200537,40251,1217,1,0,4231,0,0,246237,45
4.0,31357,102977,33316,0,0,8410,0,1,176061,32
5.0,26847,11615,62142,0,0,943,0,0,101547,18
24.0,3,0,0,6,4,0,0,0,13,0
25.0,1,1,3,2,4,0,0,0,11,0
1000.0,2410,961,210,0,0,9239,0,0,12820,2
1004.0,0,0,0,0,0,0,4,1,5,0
SUM_NEW_TIER,261155,155805,96888,9,8,22823,4,2,536694,100
NEW_DIST%,48,29,18,0,0,4,0,0,100,0

Percentage of non-eligible customers with the old routine:  45.88
Percentage of non-eligible customers with the new routine:  48.66
_______________________________________________________________________________________________________________________

                                                SITE 8

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,
0.0,218964,25316,1338,5,0,2,245625,56
4.0,23742,81760,39504,1,0,3,145010,33
5.0,6523,3877,37522,0,0,0,47922,10
24.0,1,4,0,5,2,0,12,0
25.0,1,0,0,0,2,0,3,0
1000.0,4,1,0,0,0,3,8,0
SUM_NEW_TIER,249235,110958,78364,11,4,8,438580,100
NEW_DIST%,56,25,17,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  56.0
Percentage of non-eligible customers with the new routine:  56.83
_______________________________________________________________________________________________________________________

                                                SITE 9

NEW_TIER      0.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0             1             1        100
SUM_NEW_TIER    1             1        100
NEW_DIST%     100           100      10000

Percentage of non-eligible customers with the old routine:  100.0
Percentage of non-eligible customers with the new routine:  100.0
_______________________________________________________________________________________________________________________

                                                SITE 11

NEW_TIER        0.0   4.0   5.0  24.0  25.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           10052   866    20     1     0       1         10940         51
4.0            1619  5658   428     1     0       1          7707         36
5.0             749   534  1173     0     0       0          2456         11
24.0              1     0     0     1     2       0             4          0
25.0              0     0     0     0     1       0             1          0
SUM_NEW_TIER  12421  7058  1621     3     3       2         21108        100
NEW_DIST%        58    33     7     0     0       0           100          0

Percentage of non-eligible customers with the old routine:  51.83
Percentage of non-eligible customers with the new routine:  58.84
_______________________________________________________________________________________________________________________

                                                SITE 12

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,
0.0,161196,62182,902,1,0,1,0,224282,53
4.0,20263,72679,44889,0,0,0,0,137831,32
5.0,14493,8086,37333,0,0,2,1,59915,14
24.0,4,7,1,3,1,0,0,16,0
25.0,0,0,0,1,3,0,0,4,0
1004.0,0,0,0,0,0,0,2,2,0
1005.0,2,0,0,0,0,0,1,3,0
SUM_NEW_TIER,195958,142954,83125,5,4,3,4,422053,100
NEW_DIST%,46,33,19,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  53.14
Percentage of non-eligible customers with the new routine:  46.43
_______________________________________________________________________________________________________________________

                                                SITE 14

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,39504,10466,117,0,0,14,45,0,50146,54
4.0,3458,16709,7409,1,0,29,16,5,27627,30
5.0,3239,2064,8711,0,0,4,6,2,14026,15
24.0,2,1,1,2,0,0,0,0,6,0
25.0,0,0,0,0,1,0,0,0,1,0
1000.0,8,0,1,0,0,28,0,0,37,0
1004.0,6,2,0,0,0,0,36,1,45,0
1005.0,8,0,0,0,0,0,6,7,21,0
SUM_NEW_TIER,46225,29242,16239,3,1,75,109,15,91909,100
NEW_DIST%,50,31,17,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  54.56
Percentage of non-eligible customers with the new routine:  50.29
_______________________________________________________________________________________________________________________

                                                SITE 15

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,144102,33149,1686,5,0,1,3,1,178947,56
4.0,21291,38657,38594,1,1,3,1,0,98548,31
5.0,12421,3515,22863,0,2,0,0,0,38801,12
24.0,1,1,1,2,1,0,0,0,6,0
25.0,1,0,0,1,6,0,0,0,8,0
1000.0,3,0,0,0,0,2,0,0,5,0
1004.0,1,0,1,0,0,0,3,0,5,0
1005.0,1,0,0,0,0,0,0,0,1,0
SUM_NEW_TIER,177821,75322,63145,9,10,6,7,1,316321,100
NEW_DIST%,56,23,19,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  56.57
Percentage of non-eligible customers with the new routine:  56.22
_______________________________________________________________________________________________________________________

                                                SITE 16

NEW_TIER        0.0    4.0    5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           54372  15664    297     1     1         70335         49
4.0            6708  35279   9758     0     0         51745         36
5.0            4185   1731  15292     0     0         21208         14
24.0              2      0      1     2     1             6          0
25.0              0      0      1     2     2             5          0
SUM_NEW_TIER  65267  52674  25349     5     4        143299        100
NEW_DIST%        45     36     17     0     0           100          0

Percentage of non-eligible customers with the old routine:  49.08
Percentage of non-eligible customers with the new routine:  45.55
_______________________________________________________________________________________________________________________

                                                SITE 18

NEW_TIER        0.0    4.0    5.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           32119   4835    114     0         37068         41
4.0            6655  22353   6424     0         35432         39
5.0            4582   2757   9825     0         17164         19
24.0              0      0      0     1             1          0
SUM_NEW_TIER  43356  29945  16363     1         89665        100
NEW_DIST%        48     33     18     0           100          0

Percentage of non-eligible customers with the old routine:  41.34
Percentage of non-eligible customers with the new routine:  48.35
_______________________________________________________________________________________________________________________

                                                SITE 19

NEW_TIER        0.0    4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           13443   4903   107     8     0         18461         52
4.0            2175   5267  3435     5     0         10882         30
5.0            1655    329  3963     0     0          5947         16
24.0              2      0     1    13    10            26          0
25.0              2      0     5     1     9            17          0
SUM_NEW_TIER  17277  10499  7511    27    19         35333        100
NEW_DIST%        48     29    21     0     0           100          0

Percentage of non-eligible customers with the old routine:  52.25
Percentage of non-eligible customers with the new routine:  48.9
_______________________________________________________________________________________________________________________

                                                SITE 20

NEW_TIER       0.0   4.0  5.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           2330   230    1       0          2561         61
4.0             99  1025  137       0          1261         30
5.0             39    37  285       0           361          8
1004.0           0     0    0       1             1          0
SUM_NEW_TIER  2468  1292  423       1          4184        100
NEW_DIST%       58    30   10       0           100          2

Percentage of non-eligible customers with the old routine:  61.21
Percentage of non-eligible customers with the new routine:  58.99
_______________________________________________________________________________________________________________________

                                                SITE 21

NEW_TIER        0.0    4.0    5.0  24.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           40531  13180    139     0         53850         43
4.0            7605  27259   8649     0         43513         34
5.0            7062   3324  16755     0         27141         21
24.0              2      1      0     2             5          0
SUM_NEW_TIER  55200  43764  25543     2        124509        100
NEW_DIST%        44     35     20     0           100          0

Percentage of non-eligible customers with the old routine:  43.25
Percentage of non-eligible customers with the new routine:  44.33
_______________________________________________________________________________________________________________________

                                                SITE 22

NEW_TIER        0.0    4.0    5.0  24.0  25.0  1004.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           24322   7211    282     7     0       0         31822         62
4.0            2035   4986   6235     0     0       1         13257         26
5.0            1238    294   3903     0     0       0          5435         10
24.0              2      0      2     6     6       0            16          0
25.0              1      0      0     3     7       0            11          0
SUM_NEW_TIER  27598  12491  10422    16    13       1         50541        100
NEW_DIST%        54     24     20     0     0       0           100          0

Percentage of non-eligible customers with the old routine:  62.96
Percentage of non-eligible customers with the new routine:  54.61
_______________________________________________________________________________________________________________________

                                                SITE 23

NEW_TIER        0.0    4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           10668   1676    13     0     0         12357         44
4.0            1061   7876  1068     0     0         10005         36
5.0             718   1024  3664     0     0          5406         19
24.0              1      0     0     6     0             7          0
25.0              0      2     1     1     3             7          0
SUM_NEW_TIER  12448  10578  4746     7     3         27782        100
NEW_DIST%        44     38    17     0     0           100          0

Percentage of non-eligible customers with the old routine:  44.48
Percentage of non-eligible customers with the new routine:  44.81
_______________________________________________________________________________________________________________________

                                                SITE 24

NEW_TIER        0.0   4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           14727  1402    72     0     0         16201         54
4.0            1267  5381  3483     0     1         10132         34
5.0             489   142  2605     0     0          3236         10
24.0              0     0     0     2     1             3          0
25.0              0     0     0     0     1             1          0
SUM_NEW_TIER  16483  6925  6160     2     3         29573        100
NEW_DIST%        55    23    20     0     0           100          0

Percentage of non-eligible customers with the old routine:  54.78
Percentage of non-eligible customers with the new routine:  55.74
_______________________________________________________________________________________________________________________

                                                SITE 25

NEW_TIER,0.0,4.0,5.0,24.0,25.0,1000.0,1004.0,1005.0,SUM_OLD_TIER,OLD_DIST%
OLD_TIER,,,,,,,,,,
0.0,28758,923,278,1,0,0,0,0,29960,36
4.0,1341,25781,3755,0,0,0,1,4,30882,37
5.0,564,6181,13968,0,0,0,0,2,20715,25
24.0,1,6,1,5,0,0,0,0,13,0
25.0,1,0,3,0,3,0,0,0,7,0
1000.0,0,0,0,0,0,1,0,0,1,0
1004.0,0,0,0,0,0,0,0,2,2,0
1005.0,1,0,0,0,0,0,0,5,6,0
SUM_NEW_TIER,30666,32891,18005,6,3,1,1,13,81586,100
NEW_DIST%,37,40,22,0,0,0,0,0,100,0

Percentage of non-eligible customers with the old routine:  36.72
Percentage of non-eligible customers with the new routine:  37.59
_______________________________________________________________________________________________________________________

                                                SITE 26

NEW_TIER        0.0    4.0    5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           36319  12847    190         49356         46
4.0            7729  23206  12775         43710         41
5.0            3275   1163   8021         12459         11
SUM_NEW_TIER  47323  37216  20986        105525        100
NEW_DIST%        44     35     19           100          0

Percentage of non-eligible customers with the old routine:  46.77
Percentage of non-eligible customers with the new routine:  44.85
_______________________________________________________________________________________________________________________

                                                SITE 28

NEW_TIER       0.0   4.0   5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           9000   798    12          9810         61
4.0            606  3706   582          4894         30
5.0            184    80   978          1242          7
SUM_NEW_TIER  9790  4584  1572         15946        100
NEW_DIST%       61    28     9           100          0

Percentage of non-eligible customers with the old routine:  61.52
Percentage of non-eligible customers with the new routine:  61.39
_______________________________________________________________________________________________________________________

                                                SITE 29

NEW_TIER       0.0   4.0   5.0  24.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           6361   921    19     1     0          7302         52
4.0            455  3444   693     0     0          4592         32
5.0            236   132  1763     0     0          2131         15
25.0             0     0     0     0     1             1          0
SUM_NEW_TIER  7052  4497  2475     1     1         14026        100
NEW_DIST%       50    32    17     0     0           100          0

Percentage of non-eligible customers with the old routine:  52.06
Percentage of non-eligible customers with the new routine:  50.28
_______________________________________________________________________________________________________________________

                                                SITE 30

NEW_TIER       0.0   4.0   5.0  25.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           3810  1396    23     0          5229         61
4.0            158  1410   706     0          2274         26
5.0            113    50   790     0           953         11
25.0             0     0     0     1             1          0
SUM_NEW_TIER  4081  2856  1519     1          8457        100
NEW_DIST%       48    33    17     0           100          1

Percentage of non-eligible customers with the old routine:  61.83
Percentage of non-eligible customers with the new routine:  48.26
_______________________________________________________________________________________________________________________

                                                SITE 31

NEW_TIER       0.0   4.0   5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           7053   165     3          7221         52
4.0            502  3634   308          4444         32
5.0            204   111  1678          1993         14
SUM_NEW_TIER  7759  3910  1989         13658        100
NEW_DIST%       56    28    14           100          0

Percentage of non-eligible customers with the old routine:  52.87
Percentage of non-eligible customers with the new routine:  56.81
_______________________________________________________________________________________________________________________

                                                SITE 32

NEW_TIER       0.0  4.0  5.0  SUM_OLD_TIER  OLD_DIST%
OLD_TIER
0.0           2761   20    0          2781         81
4.0            195  289   19           503         14
5.0              6   38  102           146          4
SUM_NEW_TIER  2962  347  121          3430        100
NEW_DIST%       86   10    3           100          2

Percentage of non-eligible customers with the old routine:  81.08
Percentage of non-eligible customers with the new routine:  86.36
_______________________________________________________________________________________________________________________