In [38]:
import numpy as np
import pandas as pd
import psycopg2
import cx_Oracle
import datetime
import os
%matplotlib inline
from IPython.display import display
from scipy import stats
from datetime import timedelta
from collections import Counter
from openpyxl import load_workbook

## Existing customers per site

In [2]:
query = """SELECT cop_c_id, cop_pref_o_ext_s_id, cop_g_order_count, cop_g_net_total, cop_g_cm2
FROM public.customer_order_profile
where cop_g_cm2 is not null
"""

In [3]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9404913 entries, 0 to 9404912
Data columns (total 5 columns):
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
dtypes: float64(2), int64(3)
memory usage: 358.8 MB

In [5]:
data['CM2%'] = data['cop_g_cm2'] / data['cop_g_net_total'] * 100

In [6]:
data.sample(10)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%
3823702,16006642,21,1,32.546567,8.430117,25.901709
4491846,16851440,1,2,127.311772,22.714525,17.841653
7208413,20566446,18,1,162.034800,14.864600,9.173708
4459969,16811520,107,1,70.239669,13.188219,18.776027
4178474,16456412,24,1,30.162510,8.963590,29.717653
5782906,18590355,1,1,116.487395,33.421395,28.690997
6701532,19840202,15,1,33.345455,-0.946421,-2.838231
4892125,17378792,12,6,158.372429,7.502094,4.736995
6067798,18976877,4,4,201.841666,26.572635,13.165089
2954900,14850547,16,2,105.404522,27.813054,26.386965

In [7]:
site_dict = {1: 'Deutschland',
 2: 'International',
 3: 'United Kingdom',
 4: 'France',
 7: 'Netherlands',
 8: 'Poland',
 11: 'Eire',
 12: 'Italy',
 14: 'Belgium',
 15: 'Spain',
 16: 'Czech',
 18: 'Finland',
 19: 'Slovakia',
 20: 'Russia',
 21: 'Denmark',
 22: 'Hungary',
 23: 'Slovenia',
 24: 'Romania',
 25: 'Switzerland',
 26: 'Sweden',
 28: 'Portugal',
 29: 'Croatia',
 30: 'Bulgaria',
 31: 'Norway',
 32: 'Greece'}

In [8]:
np.sort(data['cop_pref_o_ext_s_id'].unique())[:25]

array([ 1,  2,  3,  4,  7,  8, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 28, 29, 30, 31, 32], dtype=int64)

In [9]:
# Get active customers from Z+ in the last 3 years
data = data[data['cop_pref_o_ext_s_id'].isin(np.sort(data['cop_pref_o_ext_s_id'].unique())[:25])]

In [25]:
print('Z+ Active customers: ', len(data))

Z+ Active customers:  8193374

In [10]:
# Get all the existing customers having 2 or more orders finished
#data = data[data['cop_g_order_count'] >= 2]

Let's get from customers_zooprime_plans every customer ID whose SP has taken place in the last three years. Following this method we will be able to separate from existing customers those considered as renewals while the others would need to meet the Tier 4 or 5 thresholds criteria.

In [10]:
query = """select distinct czp_k_id
from customers_zooprime_plans
where czp_start_date >= trunc(sysdate - (365 * 3))
and czp_cancel_u_id is NULL
"""

In [11]:
conn = cx_Oracle.connect('readonly', 'read_123', 'db-zpmstb-01:1521/zpmstb.web.zooplus.de', threaded=True, encoding = "UTF-8", nencoding = "UTF-8")
curs = conn.cursor()
o_data = pd.read_sql(query, con = conn)
conn.close()

In [13]:
sp_customers = o_data['CZP_K_ID'].values

In [26]:
len(sp_customers)

1648974

In [14]:
data['is_renewal'] = (data['cop_c_id'].isin(sp_customers)) * 1

In [16]:
data.sample(10)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,is_renewal
2569485,14336530,1,3,65.859813,14.956042,22.708904,0
7047369,20338082,12,2,60.213115,9.674452,16.067018,0
3083583,15020243,4,3,117.433333,1.123532,0.956740,0
8224741,2300149,1,1,18.495327,1.413327,7.641536,0
230809,9051285,25,6,1384.709113,235.616280,17.015579,1
8456622,3653066,4,1,41.633333,12.621058,30.314791,0
4549614,16927689,26,1,30.732154,4.339279,14.119671,0
1144031,12000242,4,1,49.800000,16.462000,33.056225,0
7631355,12095240,4,12,1093.166599,190.264644,17.404908,1
2034518,13515087,1,6,264.569811,56.444256,21.334352,1

Customers having the NC SP need to be considered as existing customers because their CM2% in the future will be evaluated with the renewal threshold. Therefore, from our data, we will get as 'existing customers' those having at least 1 SP in the last three years (is_renewal = 1) and also those with at least 2 orders finished (Tier 4 & 5 thresholds for accessing 1st SP).

In [28]:
data = data[(data['is_renewal'] == 1) | (data['cop_g_order_count'] >= 2)]

In [29]:
len(data)

4966487

In [30]:
# Looking at thresholds we have more than 1.6M customers evaluated through renewal thresholds (low, high)
# and around 3.3M using Tier 4 & 5 thresholds for their 1st SP 
data['is_renewal'].value_counts()

0    3321473
1    1645014
Name: is_renewal, dtype: int64

In [66]:
file = 'New_routine_parameters.xlsx'
out_path = os.getcwd() + '\\' + file
writer = pd.ExcelWriter(out_path, engine='xlsxwriter')
workbook = writer.book
format1 = workbook.add_format({'num_format': '0.00'})

In [67]:
out_path

'C:\\Users\\albertoma\\Desktop\\Savings_plan\\postgres_conn\\New_routine_parameters.xlsx'

In [68]:
for i in np.sort(data['cop_pref_o_ext_s_id'].unique())[:25]:
    cus_data = data[data['cop_pref_o_ext_s_id'] == i]
    cus_amount = cus_data['cop_c_id'].count()
    cus_renewal = cus_data[cus_data['is_renewal'] == 1]
    cus_first_sp = cus_data[cus_data['is_renewal'] == 0]
    print('SITE ' + str(i) + ' [' + site_dict[i] + ']')
    print('')
    print('Total amount of existing customers: ', cus_amount)
    print('Renewals: ', cus_renewal['cop_c_id'].count())
    print('First SP: ', cus_first_sp['cop_c_id'].count())
    print('')
    print('Renewals Table')
    df_renewals = pd.DataFrame(columns=['THRESHOLD_%', 'ELIG_CUS', '%_RENEW', '%_TOTAL'])
    for j in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
             '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']:
        cus_elig_renewal = cus_renewal[cus_renewal['CM2%'] >= float(j)]['cop_c_id'].count()
        elig_perc_r = cus_elig_renewal / cus_renewal['cop_c_id'].count() * 100
        elig_perc_r_from_total = cus_elig_renewal / cus_amount * 100
        lr = list([float(j), cus_elig_renewal, elig_perc_r, elig_perc_r_from_total])
        df1 = pd.DataFrame([lr], columns=df_renewals.columns)
        df_renewals = df_renewals.append(df1, ignore_index=True)
    display(df_renewals.round(2))
    print('')
    print('First SP Table')
    df_first_sp = pd.DataFrame(columns=['THRESHOLD_%', 'ELIG_CUS', '%_FIRST_SP', '%_TOTAL'])
    for k in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
             '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']:
        cus_elig_first_sp = cus_first_sp[cus_first_sp['CM2%'] >= float(k)]['cop_c_id'].count()
        elig_perc = cus_elig_first_sp / cus_first_sp['cop_c_id'].count() * 100
        elig_perc_from_total = cus_elig_first_sp / cus_amount * 100
        l = list([float(k), cus_elig_first_sp, elig_perc, elig_perc_from_total])
        df2 = pd.DataFrame([l], columns=df_first_sp.columns)
        df_first_sp = df_first_sp.append(df2, ignore_index=True)
    display(df_first_sp.round(2))
    print('_______________________________________')
    print('')
    df_renewals.round(2).to_excel(writer, sheet_name=site_dict[i], index=False, encoding='utf-8', startrow=1, startcol=0)
    df_first_sp.round(2).to_excel(writer, sheet_name=site_dict[i], index=False, encoding='utf-8', startrow=1, startcol=5)
    
writer.save()

SITE 1 [Deutschland]

Total amount of existing customers:  1241242
Renewals:  437426
First SP:  803816

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0   423139    96.73    34.09
1           2.0   419456    95.89    33.79
2           3.0   414899    94.85    33.43
3           4.0   409191    93.55    32.97
4           5.0   402035    91.91    32.39
5           6.0   393194    89.89    31.68
6           7.0   382715    87.49    30.83
7           8.0   370191    84.63    29.82
8           9.0   355435    81.26    28.64
9          10.0   338548    77.40    27.27
10         11.0   319762    73.10    25.76
11         12.0   299138    68.39    24.10
12         13.0   276857    63.29    22.30
13         14.0   253536    57.96    20.43
14         15.0   229222    52.40    18.47
15         16.0   204832    46.83    16.50
16         17.0   180883    41.35    14.57
17         18.0   158076    36.14    12.74
18         19.0   136502    31.21    11.00
19         20.0   116671    26.67     9.40
20         21.0    99029    22.64     7.98
21         22.0    83667    19.13     6.74
22         23.0    70408    16.10     5.67
23         24.0    59194    13.53     4.77
24         25.0    49581    11.33     3.99
25         26.0    41577     9.50     3.35
26         27.0    34799     7.96     2.80
27         28.0    29104     6.65     2.34
28         29.0    24266     5.55     1.95
29         30.0    20150     4.61     1.62

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   769169       95.69    61.97
1           2.0   762740       94.89    61.45
2           3.0   754936       93.92    60.82
3           4.0   745555       92.75    60.07
4           5.0   734361       91.36    59.16
5           6.0   721054       89.70    58.09
6           7.0   705745       87.80    56.86
7           8.0   687917       85.58    55.42
8           9.0   667798       83.08    53.80
9          10.0   644830       80.22    51.95
10         11.0   619294       77.04    49.89
11         12.0   591036       73.53    47.62
12         13.0   560186       69.69    45.13
13         14.0   527454       65.62    42.49
14         15.0   492808       61.31    39.70
15         16.0   457159       56.87    36.83
16         17.0   421052       52.38    33.92
17         18.0   384349       47.82    30.96
18         19.0   347897       43.28    28.03
19         20.0   312509       38.88    25.18
20         21.0   277978       34.58    22.40
21         22.0   245360       30.52    19.77
22         23.0   214639       26.70    17.29
23         24.0   185793       23.11    14.97
24         25.0   159725       19.87    12.87
25         26.0   136562       16.99    11.00
26         27.0   115581       14.38     9.31
27         28.0    97517       12.13     7.86
28         29.0    81772       10.17     6.59
29         30.0    68371        8.51     5.51

_______________________________________

SITE 2 [International]

Total amount of existing customers:  4559
Renewals:  2127
First SP:  2432

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     2064    97.04    45.27
1           2.0     2050    96.38    44.97
2           3.0     2034    95.63    44.62
3           4.0     2010    94.50    44.09
4           5.0     1987    93.42    43.58
5           6.0     1957    92.01    42.93
6           7.0     1932    90.83    42.38
7           8.0     1889    88.81    41.43
8           9.0     1836    86.32    40.27
9          10.0     1768    83.12    38.78
10         11.0     1709    80.35    37.49
11         12.0     1630    76.63    35.75
12         13.0     1546    72.68    33.91
13         14.0     1460    68.64    32.02
14         15.0     1379    64.83    30.25
15         16.0     1279    60.13    28.05
16         17.0     1188    55.85    26.06
17         18.0     1084    50.96    23.78
18         19.0      983    46.22    21.56
19         20.0      875    41.14    19.19
20         21.0      792    37.24    17.37
21         22.0      708    33.29    15.53
22         23.0      619    29.10    13.58
23         24.0      540    25.39    11.84
24         25.0      462    21.72    10.13
25         26.0      395    18.57     8.66
26         27.0      337    15.84     7.39
27         28.0      287    13.49     6.30
28         29.0      244    11.47     5.35
29         30.0      203     9.54     4.45

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0     2346       96.46    51.46
1           2.0     2327       95.68    51.04
2           3.0     2312       95.07    50.71
3           4.0     2291       94.20    50.25
4           5.0     2269       93.30    49.77
5           6.0     2234       91.86    49.00
6           7.0     2197       90.34    48.19
7           8.0     2146       88.24    47.07
8           9.0     2082       85.61    45.67
9          10.0     2027       83.35    44.46
10         11.0     1952       80.26    42.82
11         12.0     1877       77.18    41.17
12         13.0     1787       73.48    39.20
13         14.0     1690       69.49    37.07
14         15.0     1574       64.72    34.53
15         16.0     1488       61.18    32.64
16         17.0     1371       56.37    30.07
17         18.0     1281       52.67    28.10
18         19.0     1177       48.40    25.82
19         20.0     1063       43.71    23.32
20         21.0      957       39.35    20.99
21         22.0      858       35.28    18.82
22         23.0      772       31.74    16.93
23         24.0      696       28.62    15.27
24         25.0      630       25.90    13.82
25         26.0      575       23.64    12.61
26         27.0      508       20.89    11.14
27         28.0      443       18.22     9.72
28         29.0      393       16.16     8.62
29         30.0      338       13.90     7.41

_______________________________________

SITE 3 [United Kingdom]

Total amount of existing customers:  454674
Renewals:  153435
First SP:  301239

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    92699    60.42    20.39
1           2.0    84771    55.25    18.64
2           3.0    76821    50.07    16.90
3           4.0    69144    45.06    15.21
4           5.0    61787    40.27    13.59
5           6.0    54723    35.67    12.04
6           7.0    48310    31.49    10.63
7           8.0    42402    27.64     9.33
8           9.0    37043    24.14     8.15
9          10.0    32263    21.03     7.10
10         11.0    27962    18.22     6.15
11         12.0    23954    15.61     5.27
12         13.0    20494    13.36     4.51
13         14.0    17448    11.37     3.84
14         15.0    14822     9.66     3.26
15         16.0    12646     8.24     2.78
16         17.0    10706     6.98     2.35
17         18.0     9030     5.89     1.99
18         19.0     7548     4.92     1.66
19         20.0     6371     4.15     1.40
20         21.0     5368     3.50     1.18
21         22.0     4469     2.91     0.98
22         23.0     3712     2.42     0.82
23         24.0     3121     2.03     0.69
24         25.0     2560     1.67     0.56
25         26.0     2092     1.36     0.46
26         27.0     1737     1.13     0.38
27         28.0     1441     0.94     0.32
28         29.0     1189     0.77     0.26
29         30.0      977     0.64     0.21

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   189038       62.75    41.58
1           2.0   173730       57.67    38.21
2           3.0   158447       52.60    34.85
3           4.0   143734       47.71    31.61
4           5.0   129353       42.94    28.45
5           6.0   115701       38.41    25.45
6           7.0   103293       34.29    22.72
7           8.0    91742       30.45    20.18
8           9.0    81544       27.07    17.93
9          10.0    72347       24.02    15.91
10         11.0    64000       21.25    14.08
11         12.0    56680       18.82    12.47
12         13.0    49996       16.60    11.00
13         14.0    43937       14.59     9.66
14         15.0    38636       12.83     8.50
15         16.0    33858       11.24     7.45
16         17.0    29696        9.86     6.53
17         18.0    25982        8.63     5.71
18         19.0    22788        7.56     5.01
19         20.0    19796        6.57     4.35
20         21.0    17129        5.69     3.77
21         22.0    14760        4.90     3.25
22         23.0    12739        4.23     2.80
23         24.0    10890        3.62     2.40
24         25.0     9350        3.10     2.06
25         26.0     7996        2.65     1.76
26         27.0     6788        2.25     1.49
27         28.0     5743        1.91     1.26
28         29.0     4806        1.60     1.06
29         30.0     4024        1.34     0.89

_______________________________________

SITE 4 [France]

Total amount of existing customers:  853230
Renewals:  271035
First SP:  582195

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0   254525    93.91    29.83
1           2.0   248908    91.84    29.17
2           3.0   242163    89.35    28.38
3           4.0   234034    86.35    27.43
4           5.0   224445    82.81    26.31
5           6.0   213479    78.76    25.02
6           7.0   201363    74.29    23.60
7           8.0   188330    69.49    22.07
8           9.0   174890    64.53    20.50
9          10.0   161018    59.41    18.87
10         11.0   147165    54.30    17.25
11         12.0   133596    49.29    15.66
12         13.0   120323    44.39    14.10
13         14.0   107389    39.62    12.59
14         15.0    94978    35.04    11.13
15         16.0    83342    30.75     9.77
16         17.0    72612    26.79     8.51
17         18.0    62886    23.20     7.37
18         19.0    53876    19.88     6.31
19         20.0    45952    16.95     5.39
20         21.0    38892    14.35     4.56
21         22.0    32777    12.09     3.84
22         23.0    27532    10.16     3.23
23         24.0    23015     8.49     2.70
24         25.0    19294     7.12     2.26
25         26.0    16203     5.98     1.90
26         27.0    13569     5.01     1.59
27         28.0    11424     4.21     1.34
28         29.0     9605     3.54     1.13
29         30.0     8107     2.99     0.95

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   542745       93.22    63.61
1           2.0   531300       91.26    62.27
2           3.0   517210       88.84    60.62
3           4.0   500107       85.90    58.61
4           5.0   480239       82.49    56.28
5           6.0   457374       78.56    53.61
6           7.0   432427       74.28    50.68
7           8.0   405514       69.65    47.53
8           9.0   377664       64.87    44.26
9          10.0   349194       59.98    40.93
10         11.0   320593       55.07    37.57
11         12.0   292945       50.32    34.33
12         13.0   266472       45.77    31.23
13         14.0   241542       41.49    28.31
14         15.0   218255       37.49    25.58
15         16.0   196173       33.70    22.99
16         17.0   175152       30.08    20.53
17         18.0   156089       26.81    18.29
18         19.0   137772       23.66    16.15
19         20.0   120572       20.71    14.13
20         21.0   104777       18.00    12.28
21         22.0    90054       15.47    10.55
22         23.0    76844       13.20     9.01
23         24.0    65014       11.17     7.62
24         25.0    54693        9.39     6.41
25         26.0    45513        7.82     5.33
26         27.0    37653        6.47     4.41
27         28.0    31076        5.34     3.64
28         29.0    25405        4.36     2.98
29         30.0    20785        3.57     2.44

_______________________________________

SITE 7 [Netherlands]

Total amount of existing customers:  494203
Renewals:  188628
First SP:  305575

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0   177307    94.00    35.88
1           2.0   173661    92.07    35.14
2           3.0   169286    89.75    34.25
3           4.0   164046    86.97    33.19
4           5.0   157595    83.55    31.89
5           6.0   150323    79.69    30.42
6           7.0   142082    75.32    28.75
7           8.0   133143    70.58    26.94
8           9.0   123540    65.49    25.00
9          10.0   113577    60.21    22.98
10         11.0   103204    54.71    20.88
11         12.0    92803    49.20    18.78
12         13.0    82708    43.85    16.74
13         14.0    72979    38.69    14.77
14         15.0    63831    33.84    12.92
15         16.0    55523    29.44    11.23
16         17.0    47869    25.38     9.69
17         18.0    41245    21.87     8.35
18         19.0    35418    18.78     7.17
19         20.0    30249    16.04     6.12
20         21.0    25704    13.63     5.20
21         22.0    21843    11.58     4.42
22         23.0    18373     9.74     3.72
23         24.0    15326     8.12     3.10
24         25.0    12747     6.76     2.58
25         26.0    10569     5.60     2.14
26         27.0     8681     4.60     1.76
27         28.0     7133     3.78     1.44
28         29.0     5771     3.06     1.17
29         30.0     4714     2.50     0.95

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   288482       94.41    58.37
1           2.0   283925       92.91    57.45
2           3.0   278269       91.06    56.31
3           4.0   271529       88.86    54.94
4           5.0   263883       86.36    53.40
5           6.0   255053       83.47    51.61
6           7.0   245017       80.18    49.58
7           8.0   233787       76.51    47.31
8           9.0   221743       72.57    44.87
9          10.0   208713       68.30    42.23
10         11.0   195117       63.85    39.48
11         12.0   181272       59.32    36.68
12         13.0   167283       54.74    33.85
13         14.0   153568       50.26    31.07
14         15.0   140143       45.86    28.36
15         16.0   127361       41.68    25.77
16         17.0   115210       37.70    23.31
17         18.0   103939       34.01    21.03
18         19.0    93267       30.52    18.87
19         20.0    83510       27.33    16.90
20         21.0    74233       24.29    15.02
21         22.0    65563       21.46    13.27
22         23.0    57346       18.77    11.60
23         24.0    49818       16.30    10.08
24         25.0    42539       13.92     8.61
25         26.0    35989       11.78     7.28
26         27.0    30128        9.86     6.10
27         28.0    24897        8.15     5.04
28         29.0    20428        6.69     4.13
29         30.0    16473        5.39     3.33

_______________________________________

SITE 8 [Poland]

Total amount of existing customers:  419138
Renewals:  94958
First SP:  324180

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    86019    90.59    20.52
1           2.0    83729    88.17    19.98
2           3.0    80922    85.22    19.31
3           4.0    77795    81.93    18.56
4           5.0    74130    78.07    17.69
5           6.0    70010    73.73    16.70
6           7.0    65417    68.89    15.61
7           8.0    60483    63.69    14.43
8           9.0    55426    58.37    13.22
9          10.0    50145    52.81    11.96
10         11.0    44874    47.26    10.71
11         12.0    39496    41.59     9.42
12         13.0    34422    36.25     8.21
13         14.0    29717    31.29     7.09
14         15.0    25470    26.82     6.08
15         16.0    21722    22.88     5.18
16         17.0    18517    19.50     4.42
17         18.0    15709    16.54     3.75
18         19.0    13305    14.01     3.17
19         20.0    11323    11.92     2.70
20         21.0     9592    10.10     2.29
21         22.0     8140     8.57     1.94
22         23.0     6802     7.16     1.62
23         24.0     5690     5.99     1.36
24         25.0     4722     4.97     1.13
25         26.0     3881     4.09     0.93
26         27.0     3184     3.35     0.76
27         28.0     2577     2.71     0.61
28         29.0     2068     2.18     0.49
29         30.0     1626     1.71     0.39

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   279702       86.28    66.73
1           2.0   269179       83.03    64.22
2           3.0   257653       79.48    61.47
3           4.0   245198       75.64    58.50
4           5.0   231832       71.51    55.31
5           6.0   217236       67.01    51.83
6           7.0   202020       62.32    48.20
7           8.0   186279       57.46    44.44
8           9.0   170017       52.45    40.56
9          10.0   153900       47.47    36.72
10         11.0   138329       42.67    33.00
11         12.0   123600       38.13    29.49
12         13.0   109809       33.87    26.20
13         14.0    96934       29.90    23.13
14         15.0    84930       26.20    20.26
15         16.0    73956       22.81    17.64
16         17.0    64212       19.81    15.32
17         18.0    55525       17.13    13.25
18         19.0    47826       14.75    11.41
19         20.0    40976       12.64     9.78
20         21.0    34941       10.78     8.34
21         22.0    29607        9.13     7.06
22         23.0    25115        7.75     5.99
23         24.0    20981        6.47     5.01
24         25.0    17367        5.36     4.14
25         26.0    14295        4.41     3.41
26         27.0    11675        3.60     2.79
27         28.0     9595        2.96     2.29
28         29.0     7795        2.40     1.86
29         30.0     6264        1.93     1.49

_______________________________________

SITE 11 [Eire]

Total amount of existing customers:  20190
Renewals:  6101
First SP:  14089

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     5515    90.40    27.32
1           2.0     5339    87.51    26.44
2           3.0     5131    84.10    25.41
3           4.0     4911    80.50    24.32
4           5.0     4626    75.82    22.91
5           6.0     4340    71.14    21.50
6           7.0     4065    66.63    20.13
7           8.0     3722    61.01    18.43
8           9.0     3359    55.06    16.64
9          10.0     2981    48.86    14.76
10         11.0     2636    43.21    13.06
11         12.0     2305    37.78    11.42
12         13.0     1995    32.70     9.88
13         14.0     1718    28.16     8.51
14         15.0     1449    23.75     7.18
15         16.0     1209    19.82     5.99
16         17.0     1015    16.64     5.03
17         18.0      850    13.93     4.21
18         19.0      731    11.98     3.62
19         20.0      591     9.69     2.93
20         21.0      500     8.20     2.48
21         22.0      410     6.72     2.03
22         23.0      349     5.72     1.73
23         24.0      282     4.62     1.40
24         25.0      237     3.88     1.17
25         26.0      187     3.07     0.93
26         27.0      152     2.49     0.75
27         28.0      119     1.95     0.59
28         29.0       85     1.39     0.42
29         30.0       63     1.03     0.31

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    12615       89.54    62.48
1           2.0    12220       86.73    60.53
2           3.0    11791       83.69    58.40
3           4.0    11271       80.00    55.82
4           5.0    10680       75.80    52.90
5           6.0    10033       71.21    49.69
6           7.0     9322       66.17    46.17
7           8.0     8585       60.93    42.52
8           9.0     7862       55.80    38.94
9          10.0     7141       50.68    35.37
10         11.0     6414       45.52    31.77
11         12.0     5715       40.56    28.31
12         13.0     5050       35.84    25.01
13         14.0     4465       31.69    22.11
14         15.0     3897       27.66    19.30
15         16.0     3399       24.13    16.84
16         17.0     2933       20.82    14.53
17         18.0     2515       17.85    12.46
18         19.0     2162       15.35    10.71
19         20.0     1847       13.11     9.15
20         21.0     1586       11.26     7.86
21         22.0     1333        9.46     6.60
22         23.0     1120        7.95     5.55
23         24.0      938        6.66     4.65
24         25.0      807        5.73     4.00
25         26.0      662        4.70     3.28
26         27.0      559        3.97     2.77
27         28.0      462        3.28     2.29
28         29.0      378        2.68     1.87
29         30.0      316        2.24     1.57

_______________________________________

SITE 12 [Italy]

Total amount of existing customers:  393145
Renewals:  148000
First SP:  245145

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0   140139    94.69    35.65
1           2.0   138152    93.35    35.14
2           3.0   135583    91.61    34.49
3           4.0   132507    89.53    33.70
4           5.0   128782    87.01    32.76
5           6.0   124346    84.02    31.63
6           7.0   119287    80.60    30.34
7           8.0   113528    76.71    28.88
8           9.0   107088    72.36    27.24
9          10.0   100151    67.67    25.47
10         11.0    92906    62.77    23.63
11         12.0    85216    57.58    21.68
12         13.0    77448    52.33    19.70
13         14.0    69651    47.06    17.72
14         15.0    61998    41.89    15.77
15         16.0    54426    36.77    13.84
16         17.0    47233    31.91    12.01
17         18.0    40561    27.41    10.32
18         19.0    34322    23.19     8.73
19         20.0    28730    19.41     7.31
20         21.0    23770    16.06     6.05
21         22.0    19541    13.20     4.97
22         23.0    16017    10.82     4.07
23         24.0    13021     8.80     3.31
24         25.0    10558     7.13     2.69
25         26.0     8558     5.78     2.18
26         27.0     6901     4.66     1.76
27         28.0     5581     3.77     1.42
28         29.0     4465     3.02     1.14
29         30.0     3556     2.40     0.90

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   228426       93.18    58.10
1           2.0   224916       91.75    57.21
2           3.0   220631       90.00    56.12
3           4.0   215666       87.97    54.86
4           5.0   209767       85.57    53.36
5           6.0   203046       82.83    51.65
6           7.0   195459       79.73    49.72
7           8.0   186971       76.27    47.56
8           9.0   177747       72.51    45.21
9          10.0   167801       68.45    42.68
10         11.0   157442       64.22    40.05
11         12.0   146765       59.87    37.33
12         13.0   135909       55.44    34.57
13         14.0   125166       51.06    31.84
14         15.0   114502       46.71    29.12
15         16.0   104081       42.46    26.47
16         17.0    94019       38.35    23.91
17         18.0    84442       34.45    21.48
18         19.0    75252       30.70    19.14
19         20.0    66519       27.13    16.92
20         21.0    58387       23.82    14.85
21         22.0    50606       20.64    12.87
22         23.0    43446       17.72    11.05
23         24.0    37033       15.11     9.42
24         25.0    31197       12.73     7.94
25         26.0    26146       10.67     6.65
26         27.0    21618        8.82     5.50
27         28.0    17690        7.22     4.50
28         29.0    14415        5.88     3.67
29         30.0    11618        4.74     2.96

_______________________________________

SITE 14 [Belgium]

Total amount of existing customers:  86566
Renewals:  39148
First SP:  47418

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    38368    98.01    44.32
1           2.0    38070    97.25    43.98
2           3.0    37593    96.03    43.43
3           4.0    36966    94.43    42.70
4           5.0    36120    92.27    41.73
5           6.0    35010    89.43    40.44
6           7.0    33747    86.20    38.98
7           8.0    32186    82.22    37.18
8           9.0    30415    77.69    35.14
9          10.0    28422    72.60    32.83
10         11.0    26278    67.12    30.36
11         12.0    24036    61.40    27.77
12         13.0    21725    55.49    25.10
13         14.0    19412    49.59    22.42
14         15.0    17377    44.39    20.07
15         16.0    15322    39.14    17.70
16         17.0    13409    34.25    15.49
17         18.0    11644    29.74    13.45
18         19.0    10148    25.92    11.72
19         20.0     8747    22.34    10.10
20         21.0     7547    19.28     8.72
21         22.0     6478    16.55     7.48
22         23.0     5476    13.99     6.33
23         24.0     4567    11.67     5.28
24         25.0     3802     9.71     4.39
25         26.0     3158     8.07     3.65
26         27.0     2611     6.67     3.02
27         28.0     2168     5.54     2.50
28         29.0     1774     4.53     2.05
29         30.0     1453     3.71     1.68

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    46440       97.94    53.65
1           2.0    46051       97.12    53.20
2           3.0    45591       96.15    52.67
3           4.0    44973       94.84    51.95
4           5.0    44163       93.14    51.02
5           6.0    43091       90.87    49.78
6           7.0    41775       88.10    48.26
7           8.0    40162       84.70    46.39
8           9.0    38323       80.82    44.27
9          10.0    36256       76.46    41.88
10         11.0    33969       71.64    39.24
11         12.0    31504       66.44    36.39
12         13.0    28968       61.09    33.46
13         14.0    26445       55.77    30.55
14         15.0    24059       50.74    27.79
15         16.0    21791       45.96    25.17
16         17.0    19707       41.56    22.77
17         18.0    17782       37.50    20.54
18         19.0    15950       33.64    18.43
19         20.0    14316       30.19    16.54
20         21.0    12714       26.81    14.69
21         22.0    11315       23.86    13.07
22         23.0     9962       21.01    11.51
23         24.0     8667       18.28    10.01
24         25.0     7435       15.68     8.59
25         26.0     6282       13.25     7.26
26         27.0     5282       11.14     6.10
27         28.0     4407        9.29     5.09
28         29.0     3646        7.69     4.21
29         30.0     3003        6.33     3.47

_______________________________________

SITE 15 [Spain]

Total amount of existing customers:  288862
Renewals:  83334
First SP:  205528

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    73049    87.66    25.29
1           2.0    70753    84.90    24.49
2           3.0    68048    81.66    23.56
3           4.0    65011    78.01    22.51
4           5.0    61585    73.90    21.32
5           6.0    57988    69.59    20.07
6           7.0    54200    65.04    18.76
7           8.0    50031    60.04    17.32
8           9.0    45845    55.01    15.87
9          10.0    41654    49.98    14.42
10         11.0    37415    44.90    12.95
11         12.0    33320    39.98    11.53
12         13.0    29411    35.29    10.18
13         14.0    25578    30.69     8.85
14         15.0    22027    26.43     7.63
15         16.0    18738    22.49     6.49
16         17.0    15811    18.97     5.47
17         18.0    13209    15.85     4.57
18         19.0    10986    13.18     3.80
19         20.0     8987    10.78     3.11
20         21.0     7335     8.80     2.54
21         22.0     5971     7.17     2.07
22         23.0     4824     5.79     1.67
23         24.0     3942     4.73     1.36
24         25.0     3242     3.89     1.12
25         26.0     2669     3.20     0.92
26         27.0     2181     2.62     0.76
27         28.0     1767     2.12     0.61
28         29.0     1441     1.73     0.50
29         30.0     1166     1.40     0.40

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0   173374       84.36    60.02
1           2.0   167282       81.39    57.91
2           3.0   160335       78.01    55.51
3           4.0   152824       74.36    52.91
4           5.0   144537       70.32    50.04
5           6.0   136088       66.21    47.11
6           7.0   127280       61.93    44.06
7           8.0   118101       57.46    40.88
8           9.0   108636       52.86    37.61
9          10.0    99351       48.34    34.39
10         11.0    90174       43.87    31.22
11         12.0    81364       39.59    28.17
12         13.0    72988       35.51    25.27
13         14.0    64782       31.52    22.43
14         15.0    57272       27.87    19.83
15         16.0    50399       24.52    17.45
16         17.0    44048       21.43    15.25
17         18.0    38283       18.63    13.25
18         19.0    32921       16.02    11.40
19         20.0    28212       13.73     9.77
20         21.0    23957       11.66     8.29
21         22.0    20148        9.80     6.97
22         23.0    16843        8.19     5.83
23         24.0    13875        6.75     4.80
24         25.0    11427        5.56     3.96
25         26.0     9365        4.56     3.24
26         27.0     7656        3.73     2.65
27         28.0     6104        2.97     2.11
28         29.0     4947        2.41     1.71
29         30.0     3975        1.93     1.38

_______________________________________

SITE 16 [Czech]

Total amount of existing customers:  134716
Renewals:  38307
First SP:  96409

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    37146    96.97    27.57
1           2.0    36761    95.96    27.29
2           3.0    36246    94.62    26.91
3           4.0    35595    92.92    26.42
4           5.0    34718    90.63    25.77
5           6.0    33632    87.80    24.97
6           7.0    32338    84.42    24.00
7           8.0    30766    80.31    22.84
8           9.0    28903    75.45    21.45
9          10.0    26863    70.13    19.94
10         11.0    24670    64.40    18.31
11         12.0    22414    58.51    16.64
12         13.0    20095    52.46    14.92
13         14.0    17777    46.41    13.20
14         15.0    15544    40.58    11.54
15         16.0    13395    34.97     9.94
16         17.0    11492    30.00     8.53
17         18.0     9851    25.72     7.31
18         19.0     8370    21.85     6.21
19         20.0     7054    18.41     5.24
20         21.0     5900    15.40     4.38
21         22.0     4959    12.95     3.68
22         23.0     4147    10.83     3.08
23         24.0     3460     9.03     2.57
24         25.0     2892     7.55     2.15
25         26.0     2390     6.24     1.77
26         27.0     1992     5.20     1.48
27         28.0     1634     4.27     1.21
28         29.0     1347     3.52     1.00
29         30.0     1086     2.83     0.81

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    91279       94.68    67.76
1           2.0    89979       93.33    66.79
2           3.0    88400       91.69    65.62
3           4.0    86393       89.61    64.13
4           5.0    83957       87.08    62.32
5           6.0    81077       84.10    60.18
6           7.0    77593       80.48    57.60
7           8.0    73683       76.43    54.70
8           9.0    69221       71.80    51.38
9          10.0    64522       66.93    47.89
10         11.0    59679       61.90    44.30
11         12.0    54620       56.65    40.54
12         13.0    49734       51.59    36.92
13         14.0    45001       46.68    33.40
14         15.0    40637       42.15    30.16
15         16.0    36539       37.90    27.12
16         17.0    32614       33.83    24.21
17         18.0    28920       30.00    21.47
18         19.0    25447       26.39    18.89
19         20.0    22283       23.11    16.54
20         21.0    19432       20.16    14.42
21         22.0    16849       17.48    12.51
22         23.0    14518       15.06    10.78
23         24.0    12387       12.85     9.19
24         25.0    10514       10.91     7.80
25         26.0     8839        9.17     6.56
26         27.0     7424        7.70     5.51
27         28.0     6124        6.35     4.55
28         29.0     5002        5.19     3.71
29         30.0     4060        4.21     3.01

_______________________________________

SITE 18 [Finland]

Total amount of existing customers:  82775
Renewals:  28884
First SP:  53891

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    27999    96.94    33.83
1           2.0    27724    95.98    33.49
2           3.0    27398    94.86    33.10
3           4.0    26958    93.33    32.57
4           5.0    26363    91.27    31.85
5           6.0    25645    88.79    30.98
6           7.0    24864    86.08    30.04
7           8.0    23907    82.77    28.88
8           9.0    22792    78.91    27.53
9          10.0    21508    74.46    25.98
10         11.0    20153    69.77    24.35
11         12.0    18539    64.18    22.40
12         13.0    16871    58.41    20.38
13         14.0    15178    52.55    18.34
14         15.0    13428    46.49    16.22
15         16.0    11779    40.78    14.23
16         17.0    10179    35.24    12.30
17         18.0     8724    30.20    10.54
18         19.0     7448    25.79     9.00
19         20.0     6287    21.77     7.60
20         21.0     5234    18.12     6.32
21         22.0     4294    14.87     5.19
22         23.0     3565    12.34     4.31
23         24.0     2932    10.15     3.54
24         25.0     2371     8.21     2.86
25         26.0     1933     6.69     2.34
26         27.0     1577     5.46     1.91
27         28.0     1271     4.40     1.54
28         29.0     1015     3.51     1.23
29         30.0      794     2.75     0.96

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    51746       96.02    62.51
1           2.0    51204       95.01    61.86
2           3.0    50462       93.64    60.96
3           4.0    49559       91.96    59.87
4           5.0    48461       89.92    58.55
5           6.0    47224       87.63    57.05
6           7.0    45829       85.04    55.37
7           8.0    44061       81.76    53.23
8           9.0    42168       78.25    50.94
9          10.0    40013       74.25    48.34
10         11.0    37566       69.71    45.38
11         12.0    34963       64.88    42.24
12         13.0    32309       59.95    39.03
13         14.0    29571       54.87    35.72
14         15.0    26746       49.63    32.31
15         16.0    24043       44.61    29.05
16         17.0    21405       39.72    25.86
17         18.0    18762       34.81    22.67
18         19.0    16282       30.21    19.67
19         20.0    14111       26.18    17.05
20         21.0    12081       22.42    14.59
21         22.0    10210       18.95    12.33
22         23.0     8511       15.79    10.28
23         24.0     7048       13.08     8.51
24         25.0     5817       10.79     7.03
25         26.0     4730        8.78     5.71
26         27.0     3819        7.09     4.61
27         28.0     3048        5.66     3.68
28         29.0     2403        4.46     2.90
29         30.0     1889        3.51     2.28

_______________________________________

SITE 19 [Slovakia]

Total amount of existing customers:  31419
Renewals:  8353
First SP:  23066

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     7332    87.78    23.34
1           2.0     7084    84.81    22.55
2           3.0     6804    81.46    21.66
3           4.0     6448    77.19    20.52
4           5.0     6053    72.46    19.27
5           6.0     5677    67.96    18.07
6           7.0     5297    63.41    16.86
7           8.0     4892    58.57    15.57
8           9.0     4514    54.04    14.37
9          10.0     4085    48.90    13.00
10         11.0     3710    44.42    11.81
11         12.0     3335    39.93    10.61
12         13.0     2961    35.45     9.42
13         14.0     2625    31.43     8.35
14         15.0     2308    27.63     7.35
15         16.0     2002    23.97     6.37
16         17.0     1751    20.96     5.57
17         18.0     1515    18.14     4.82
18         19.0     1330    15.92     4.23
19         20.0     1142    13.67     3.63
20         21.0      979    11.72     3.12
21         22.0      826     9.89     2.63
22         23.0      674     8.07     2.15
23         24.0      562     6.73     1.79
24         25.0      477     5.71     1.52
25         26.0      405     4.85     1.29
26         27.0      333     3.99     1.06
27         28.0      283     3.39     0.90
28         29.0      234     2.80     0.74
29         30.0      193     2.31     0.61

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    20351       88.23    64.77
1           2.0    19716       85.48    62.75
2           3.0    18941       82.12    60.29
3           4.0    18111       78.52    57.64
4           5.0    17194       74.54    54.72
5           6.0    16220       70.32    51.62
6           7.0    15225       66.01    48.46
7           8.0    14251       61.78    45.36
8           9.0    13309       57.70    42.36
9          10.0    12370       53.63    39.37
10         11.0    11488       49.80    36.56
11         12.0    10626       46.07    33.82
12         13.0     9808       42.52    31.22
13         14.0     9050       39.24    28.80
14         15.0     8278       35.89    26.35
15         16.0     7517       32.59    23.93
16         17.0     6831       29.62    21.74
17         18.0     6191       26.84    19.70
18         19.0     5542       24.03    17.64
19         20.0     4965       21.53    15.80
20         21.0     4424       19.18    14.08
21         22.0     3929       17.03    12.51
22         23.0     3470       15.04    11.04
23         24.0     3023       13.11     9.62
24         25.0     2584       11.20     8.22
25         26.0     2216        9.61     7.05
26         27.0     1867        8.09     5.94
27         28.0     1568        6.80     4.99
28         29.0     1302        5.64     4.14
29         30.0     1077        4.67     3.43

_______________________________________

SITE 20 [Russia]

Total amount of existing customers:  4010
Renewals:  1635
First SP:  2375

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     1429    87.40    35.64
1           2.0     1377    84.22    34.34
2           3.0     1307    79.94    32.59
3           4.0     1233    75.41    30.75
4           5.0     1164    71.19    29.03
5           6.0     1084    66.30    27.03
6           7.0     1007    61.59    25.11
7           8.0      910    55.66    22.69
8           9.0      819    50.09    20.42
9          10.0      723    44.22    18.03
10         11.0      643    39.33    16.03
11         12.0      568    34.74    14.16
12         13.0      484    29.60    12.07
13         14.0      416    25.44    10.37
14         15.0      351    21.47     8.75
15         16.0      291    17.80     7.26
16         17.0      241    14.74     6.01
17         18.0      194    11.87     4.84
18         19.0      157     9.60     3.92
19         20.0      126     7.71     3.14
20         21.0       94     5.75     2.34
21         22.0       71     4.34     1.77
22         23.0       55     3.36     1.37
23         24.0       41     2.51     1.02
24         25.0       31     1.90     0.77
25         26.0       27     1.65     0.67
26         27.0       25     1.53     0.62
27         28.0       20     1.22     0.50
28         29.0       18     1.10     0.45
29         30.0       16     0.98     0.40

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0     2080       87.58    51.87
1           2.0     2030       85.47    50.62
2           3.0     1949       82.06    48.60
3           4.0     1868       78.65    46.58
4           5.0     1775       74.74    44.26
5           6.0     1665       70.11    41.52
6           7.0     1548       65.18    38.60
7           8.0     1410       59.37    35.16
8           9.0     1270       53.47    31.67
9          10.0     1146       48.25    28.58
10         11.0     1023       43.07    25.51
11         12.0      902       37.98    22.49
12         13.0      788       33.18    19.65
13         14.0      676       28.46    16.86
14         15.0      595       25.05    14.84
15         16.0      521       21.94    12.99
16         17.0      444       18.69    11.07
17         18.0      366       15.41     9.13
18         19.0      307       12.93     7.66
19         20.0      260       10.95     6.48
20         21.0      213        8.97     5.31
21         22.0      170        7.16     4.24
22         23.0      138        5.81     3.44
23         24.0      112        4.72     2.79
24         25.0       93        3.92     2.32
25         26.0       74        3.12     1.85
26         27.0       58        2.44     1.45
27         28.0       41        1.73     1.02
28         29.0       35        1.47     0.87
29         30.0       32        1.35     0.80

_______________________________________

SITE 21 [Denmark]

Total amount of existing customers:  113792
Renewals:  36274
First SP:  77518

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    34858    96.10    30.63
1           2.0    34502    95.11    30.32
2           3.0    34069    93.92    29.94
3           4.0    33534    92.45    29.47
4           5.0    32951    90.84    28.96
5           6.0    32248    88.90    28.34
6           7.0    31463    86.74    27.65
7           8.0    30523    84.15    26.82
8           9.0    29448    81.18    25.88
9          10.0    28295    78.00    24.87
10         11.0    27014    74.47    23.74
11         12.0    25669    70.76    22.56
12         13.0    24190    66.69    21.26
13         14.0    22560    62.19    19.83
14         15.0    20879    57.56    18.35
15         16.0    19170    52.85    16.85
16         17.0    17458    48.13    15.34
17         18.0    15807    43.58    13.89
18         19.0    14168    39.06    12.45
19         20.0    12515    34.50    11.00
20         21.0    10973    30.25     9.64
21         22.0     9488    26.16     8.34
22         23.0     8129    22.41     7.14
23         24.0     6822    18.81     6.00
24         25.0     5737    15.82     5.04
25         26.0     4789    13.20     4.21
26         27.0     3969    10.94     3.49
27         28.0     3288     9.06     2.89
28         29.0     2683     7.40     2.36
29         30.0     2177     6.00     1.91

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    73397       94.68    64.50
1           2.0    72547       93.59    63.75
2           3.0    71540       92.29    62.87
3           4.0    70358       90.76    61.83
4           5.0    69056       89.08    60.69
5           6.0    67646       87.26    59.45
6           7.0    65989       85.13    57.99
7           8.0    64223       82.85    56.44
8           9.0    62270       80.33    54.72
9          10.0    60162       77.61    52.87
10         11.0    57675       74.40    50.68
11         12.0    55021       70.98    48.35
12         13.0    52263       67.42    45.93
13         14.0    49369       63.69    43.39
14         15.0    46293       59.72    40.68
15         16.0    43274       55.82    38.03
16         17.0    40198       51.86    35.33
17         18.0    37064       47.81    32.57
18         19.0    34074       43.96    29.94
19         20.0    31040       40.04    27.28
20         21.0    28021       36.15    24.62
21         22.0    25083       32.36    22.04
22         23.0    22210       28.65    19.52
23         24.0    19414       25.04    17.06
24         25.0    16815       21.69    14.78
25         26.0    14396       18.57    12.65
26         27.0    12179       15.71    10.70
27         28.0    10189       13.14     8.95
28         29.0     8474       10.93     7.45
29         30.0     6937        8.95     6.10

_______________________________________

SITE 22 [Hungary]

Total amount of existing customers:  47304
Renewals:  10989
First SP:  36315

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     8874    80.75    18.76
1           2.0     8501    77.36    17.97
2           3.0     8053    73.28    17.02
3           4.0     7545    68.66    15.95
4           5.0     7016    63.85    14.83
5           6.0     6493    59.09    13.73
6           7.0     5970    54.33    12.62
7           8.0     5437    49.48    11.49
8           9.0     4868    44.30    10.29
9          10.0     4301    39.14     9.09
10         11.0     3806    34.63     8.05
11         12.0     3348    30.47     7.08
12         13.0     2865    26.07     6.06
13         14.0     2459    22.38     5.20
14         15.0     2067    18.81     4.37
15         16.0     1757    15.99     3.71
16         17.0     1453    13.22     3.07
17         18.0     1238    11.27     2.62
18         19.0     1027     9.35     2.17
19         20.0      848     7.72     1.79
20         21.0      693     6.31     1.46
21         22.0      577     5.25     1.22
22         23.0      455     4.14     0.96
23         24.0      387     3.52     0.82
24         25.0      322     2.93     0.68
25         26.0      257     2.34     0.54
26         27.0      206     1.87     0.44
27         28.0      178     1.62     0.38
28         29.0      151     1.37     0.32
29         30.0      120     1.09     0.25

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    28508       78.50    60.27
1           2.0    27111       74.66    57.31
2           3.0    25615       70.54    54.15
3           4.0    24038       66.19    50.82
4           5.0    22417       61.73    47.39
5           6.0    20724       57.07    43.81
6           7.0    19023       52.38    40.21
7           8.0    17250       47.50    36.47
8           9.0    15628       43.03    33.04
9          10.0    14084       38.78    29.77
10         11.0    12668       34.88    26.78
11         12.0    11305       31.13    23.90
12         13.0    10088       27.78    21.33
13         14.0     8944       24.63    18.91
14         15.0     7848       21.61    16.59
15         16.0     6876       18.93    14.54
16         17.0     5983       16.48    12.65
17         18.0     5187       14.28    10.97
18         19.0     4452       12.26     9.41
19         20.0     3848       10.60     8.13
20         21.0     3256        8.97     6.88
21         22.0     2778        7.65     5.87
22         23.0     2335        6.43     4.94
23         24.0     1923        5.30     4.07
24         25.0     1615        4.45     3.41
25         26.0     1330        3.66     2.81
26         27.0     1091        3.00     2.31
27         28.0      888        2.45     1.88
28         29.0      707        1.95     1.49
29         30.0      548        1.51     1.16

_______________________________________

SITE 23 [Slovenia]

Total amount of existing customers:  27666
Renewals:  10964
First SP:  16702

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    10745    98.00    38.84
1           2.0    10656    97.19    38.52
2           3.0    10568    96.39    38.20
3           4.0    10453    95.34    37.78
4           5.0    10250    93.49    37.05
5           6.0    10007    91.27    36.17
6           7.0     9719    88.64    35.13
7           8.0     9342    85.21    33.77
8           9.0     8927    81.42    32.27
9          10.0     8452    77.09    30.55
10         11.0     7930    72.33    28.66
11         12.0     7403    67.52    26.76
12         13.0     6817    62.18    24.64
13         14.0     6216    56.69    22.47
14         15.0     5585    50.94    20.19
15         16.0     4986    45.48    18.02
16         17.0     4413    40.25    15.95
17         18.0     3876    35.35    14.01
18         19.0     3337    30.44    12.06
19         20.0     2896    26.41    10.47
20         21.0     2500    22.80     9.04
21         22.0     2112    19.26     7.63
22         23.0     1806    16.47     6.53
23         24.0     1502    13.70     5.43
24         25.0     1234    11.26     4.46
25         26.0     1020     9.30     3.69
26         27.0      844     7.70     3.05
27         28.0      697     6.36     2.52
28         29.0      567     5.17     2.05
29         30.0      465     4.24     1.68

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    16297       97.58    58.91
1           2.0    16178       96.86    58.48
2           3.0    16025       95.95    57.92
3           4.0    15839       94.83    57.25
4           5.0    15581       93.29    56.32
5           6.0    15244       91.27    55.10
6           7.0    14846       88.89    53.66
7           8.0    14397       86.20    52.04
8           9.0    13901       83.23    50.25
9          10.0    13233       79.23    47.83
10         11.0    12571       75.27    45.44
11         12.0    11850       70.95    42.83
12         13.0    11128       66.63    40.22
13         14.0    10395       62.24    37.57
14         15.0     9586       57.39    34.65
15         16.0     8814       52.77    31.86
16         17.0     7992       47.85    28.89
17         18.0     7297       43.69    26.38
18         19.0     6562       39.29    23.72
19         20.0     5853       35.04    21.16
20         21.0     5180       31.01    18.72
21         22.0     4512       27.01    16.31
22         23.0     3914       23.43    14.15
23         24.0     3384       20.26    12.23
24         25.0     2929       17.54    10.59
25         26.0     2491       14.91     9.00
26         27.0     2089       12.51     7.55
27         28.0     1753       10.50     6.34
28         29.0     1446        8.66     5.23
29         30.0     1163        6.96     4.20

_______________________________________

SITE 24 [Romania]

Total amount of existing customers:  28185
Renewals:  7500
First SP:  20685

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     6743    89.91    23.92
1           2.0     6534    87.12    23.18
2           3.0     6296    83.95    22.34
3           4.0     6030    80.40    21.39
4           5.0     5750    76.67    20.40
5           6.0     5453    72.71    19.35
6           7.0     5144    68.59    18.25
7           8.0     4795    63.93    17.01
8           9.0     4386    58.48    15.56
9          10.0     3980    53.07    14.12
10         11.0     3615    48.20    12.83
11         12.0     3196    42.61    11.34
12         13.0     2790    37.20     9.90
13         14.0     2397    31.96     8.50
14         15.0     2064    27.52     7.32
15         16.0     1749    23.32     6.21
16         17.0     1467    19.56     5.20
17         18.0     1221    16.28     4.33
18         19.0     1006    13.41     3.57
19         20.0      840    11.20     2.98
20         21.0      680     9.07     2.41
21         22.0      567     7.56     2.01
22         23.0      435     5.80     1.54
23         24.0      355     4.73     1.26
24         25.0      283     3.77     1.00
25         26.0      227     3.03     0.81
26         27.0      176     2.35     0.62
27         28.0      142     1.89     0.50
28         29.0      117     1.56     0.42
29         30.0       97     1.29     0.34

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    17975       86.90    63.78
1           2.0    17334       83.80    61.50
2           3.0    16569       80.10    58.79
3           4.0    15790       76.34    56.02
4           5.0    14932       72.19    52.98
5           6.0    14042       67.88    49.82
6           7.0    13134       63.50    46.60
7           8.0    12226       59.11    43.38
8           9.0    11278       54.52    40.01
9          10.0    10352       50.05    36.73
10         11.0     9455       45.71    33.55
11         12.0     8557       41.37    30.36
12         13.0     7720       37.32    27.39
13         14.0     6962       33.66    24.70
14         15.0     6194       29.94    21.98
15         16.0     5468       26.43    19.40
16         17.0     4821       23.31    17.10
17         18.0     4214       20.37    14.95
18         19.0     3698       17.88    13.12
19         20.0     3194       15.44    11.33
20         21.0     2737       13.23     9.71
21         22.0     2351       11.37     8.34
22         23.0     1983        9.59     7.04
23         24.0     1663        8.04     5.90
24         25.0     1400        6.77     4.97
25         26.0     1154        5.58     4.09
26         27.0      938        4.53     3.33
27         28.0      763        3.69     2.71
28         29.0      622        3.01     2.21
29         30.0      500        2.42     1.77

_______________________________________

SITE 25 [Switzerland]

Total amount of existing customers:  86495
Renewals:  36519
First SP:  49976

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    36495    99.93    42.19
1           2.0    36488    99.92    42.19
2           3.0    36480    99.89    42.18
3           4.0    36467    99.86    42.16
4           5.0    36453    99.82    42.14
5           6.0    36431    99.76    42.12
6           7.0    36413    99.71    42.10
7           8.0    36371    99.59    42.05
8           9.0    36313    99.44    41.98
9          10.0    36244    99.25    41.90
10         11.0    36143    98.97    41.79
11         12.0    36017    98.63    41.64
12         13.0    35848    98.16    41.45
13         14.0    35643    97.60    41.21
14         15.0    35330    96.74    40.85
15         16.0    34946    95.69    40.40
16         17.0    34485    94.43    39.87
17         18.0    33903    92.84    39.20
18         19.0    33147    90.77    38.32
19         20.0    32160    88.06    37.18
20         21.0    31096    85.15    35.95
21         22.0    29845    81.72    34.50
22         23.0    28430    77.85    32.87
23         24.0    26784    73.34    30.97
24         25.0    25044    68.58    28.95
25         26.0    23238    63.63    26.87
26         27.0    21420    58.65    24.76
27         28.0    19653    53.82    22.72
28         29.0    17732    48.56    20.50
29         30.0    15884    43.50    18.36

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    49920       99.89    57.71
1           2.0    49914       99.88    57.71
2           3.0    49909       99.87    57.70
3           4.0    49893       99.83    57.68
4           5.0    49879       99.81    57.67
5           6.0    49856       99.76    57.64
6           7.0    49823       99.69    57.60
7           8.0    49787       99.62    57.56
8           9.0    49742       99.53    57.51
9          10.0    49685       99.42    57.44
10         11.0    49592       99.23    57.34
11         12.0    49481       99.01    57.21
12         13.0    49332       98.71    57.03
13         14.0    49125       98.30    56.80
14         15.0    48850       97.75    56.48
15         16.0    48486       97.02    56.06
16         17.0    48066       96.18    55.57
17         18.0    47556       95.16    54.98
18         19.0    46962       93.97    54.29
19         20.0    46187       92.42    53.40
20         21.0    45286       90.62    52.36
21         22.0    44227       88.50    51.13
22         23.0    42958       85.96    49.67
23         24.0    41532       83.10    48.02
24         25.0    39945       79.93    46.18
25         26.0    38234       76.50    44.20
26         27.0    36398       72.83    42.08
27         28.0    34444       68.92    39.82
28         29.0    32361       64.75    37.41
29         30.0    30043       60.11    34.73

_______________________________________

SITE 26 [Sweden]

Total amount of existing customers:  97457
Renewals:  26483
First SP:  70974

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0    24555    92.72    25.20
1           2.0    24044    90.79    24.67
2           3.0    23361    88.21    23.97
3           4.0    22675    85.62    23.27
4           5.0    21865    82.56    22.44
5           6.0    20869    78.80    21.41
6           7.0    19796    74.75    20.31
7           8.0    18644    70.40    19.13
8           9.0    17403    65.71    17.86
9          10.0    16142    60.95    16.56
10         11.0    14754    55.71    15.14
11         12.0    13378    50.52    13.73
12         13.0    11956    45.15    12.27
13         14.0    10631    40.14    10.91
14         15.0     9343    35.28     9.59
15         16.0     8167    30.84     8.38
16         17.0     7032    26.55     7.22
17         18.0     6078    22.95     6.24
18         19.0     5202    19.64     5.34
19         20.0     4437    16.75     4.55
20         21.0     3738    14.11     3.84
21         22.0     3166    11.95     3.25
22         23.0     2648    10.00     2.72
23         24.0     2159     8.15     2.22
24         25.0     1812     6.84     1.86
25         26.0     1528     5.77     1.57
26         27.0     1237     4.67     1.27
27         28.0      986     3.72     1.01
28         29.0      807     3.05     0.83
29         30.0      647     2.44     0.66

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    64205       90.46    65.88
1           2.0    62879       88.59    64.52
2           3.0    61352       86.44    62.95
3           4.0    59511       83.85    61.06
4           5.0    57465       80.97    58.96
5           6.0    55234       77.82    56.68
6           7.0    52812       74.41    54.19
7           8.0    50117       70.61    51.42
8           9.0    47312       66.66    48.55
9          10.0    44374       62.52    45.53
10         11.0    41367       58.28    42.45
11         12.0    38318       53.99    39.32
12         13.0    35274       49.70    36.19
13         14.0    32262       45.46    33.10
14         15.0    29214       41.16    29.98
15         16.0    26299       37.05    26.99
16         17.0    23523       33.14    24.14
17         18.0    20923       29.48    21.47
18         19.0    18422       25.96    18.90
19         20.0    16142       22.74    16.56
20         21.0    14094       19.86    14.46
21         22.0    12109       17.06    12.42
22         23.0    10310       14.53    10.58
23         24.0     8780       12.37     9.01
24         25.0     7308       10.30     7.50
25         26.0     6075        8.56     6.23
26         27.0     5027        7.08     5.16
27         28.0     4155        5.85     4.26
28         29.0     3386        4.77     3.47
29         30.0     2709        3.82     2.78

_______________________________________

SITE 28 [Portugal]

Total amount of existing customers:  17655
Renewals:  4048
First SP:  13607

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     3100    76.58    17.56
1           2.0     2939    72.60    16.65
2           3.0     2756    68.08    15.61
3           4.0     2548    62.94    14.43
4           5.0     2325    57.44    13.17
5           6.0     2123    52.45    12.02
6           7.0     1901    46.96    10.77
7           8.0     1654    40.86     9.37
8           9.0     1436    35.47     8.13
9          10.0     1284    31.72     7.27
10         11.0     1099    27.15     6.22
11         12.0      945    23.34     5.35
12         13.0      811    20.03     4.59
13         14.0      688    17.00     3.90
14         15.0      582    14.38     3.30
15         16.0      487    12.03     2.76
16         17.0      408    10.08     2.31
17         18.0      327     8.08     1.85
18         19.0      276     6.82     1.56
19         20.0      227     5.61     1.29
20         21.0      189     4.67     1.07
21         22.0      156     3.85     0.88
22         23.0      128     3.16     0.73
23         24.0      100     2.47     0.57
24         25.0       74     1.83     0.42
25         26.0       63     1.56     0.36
26         27.0       55     1.36     0.31
27         28.0       42     1.04     0.24
28         29.0       29     0.72     0.16
29         30.0       24     0.59     0.14

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0    11142       81.88    63.11
1           2.0    10691       78.57    60.56
2           3.0    10140       74.52    57.43
3           4.0     9522       69.98    53.93
4           5.0     8890       65.33    50.35
5           6.0     8238       60.54    46.66
6           7.0     7550       55.49    42.76
7           8.0     6834       50.22    38.71
8           9.0     6195       45.53    35.09
9          10.0     5576       40.98    31.58
10         11.0     5008       36.80    28.37
11         12.0     4491       33.01    25.44
12         13.0     3957       29.08    22.41
13         14.0     3519       25.86    19.93
14         15.0     3107       22.83    17.60
15         16.0     2704       19.87    15.32
16         17.0     2333       17.15    13.21
17         18.0     2034       14.95    11.52
18         19.0     1760       12.93     9.97
19         20.0     1489       10.94     8.43
20         21.0     1254        9.22     7.10
21         22.0     1042        7.66     5.90
22         23.0      857        6.30     4.85
23         24.0      705        5.18     3.99
24         25.0      576        4.23     3.26
25         26.0      461        3.39     2.61
26         27.0      379        2.79     2.15
27         28.0      303        2.23     1.72
28         29.0      237        1.74     1.34
29         30.0      184        1.35     1.04

_______________________________________

SITE 29 [Croatia]

Total amount of existing customers:  13549
Renewals:  4436
First SP:  9113

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     4166    93.91    30.75
1           2.0     4088    92.16    30.17
2           3.0     4000    90.17    29.52
3           4.0     3879    87.44    28.63
4           5.0     3765    84.87    27.79
5           6.0     3628    81.79    26.78
6           7.0     3440    77.55    25.39
7           8.0     3252    73.31    24.00
8           9.0     3064    69.07    22.61
9          10.0     2871    64.72    21.19
10         11.0     2652    59.78    19.57
11         12.0     2429    54.76    17.93
12         13.0     2231    50.29    16.47
13         14.0     2004    45.18    14.79
14         15.0     1775    40.01    13.10
15         16.0     1581    35.64    11.67
16         17.0     1391    31.36    10.27
17         18.0     1216    27.41     8.97
18         19.0     1066    24.03     7.87
19         20.0      934    21.06     6.89
20         21.0      804    18.12     5.93
21         22.0      676    15.24     4.99
22         23.0      566    12.76     4.18
23         24.0      445    10.03     3.28
24         25.0      347     7.82     2.56
25         26.0      269     6.06     1.99
26         27.0      210     4.73     1.55
27         28.0      161     3.63     1.19
28         29.0      128     2.89     0.94
29         30.0       93     2.10     0.69

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0     8432       92.53    62.23
1           2.0     8261       90.65    60.97
2           3.0     8054       88.38    59.44
3           4.0     7767       85.23    57.33
4           5.0     7470       81.97    55.13
5           6.0     7126       78.20    52.59
6           7.0     6762       74.20    49.91
7           8.0     6390       70.12    47.16
8           9.0     5985       65.68    44.17
9          10.0     5530       60.68    40.81
10         11.0     5113       56.11    37.74
11         12.0     4735       51.96    34.95
12         13.0     4312       47.32    31.83
13         14.0     3902       42.82    28.80
14         15.0     3529       38.72    26.05
15         16.0     3201       35.13    23.63
16         17.0     2871       31.50    21.19
17         18.0     2525       27.71    18.64
18         19.0     2241       24.59    16.54
19         20.0     1989       21.83    14.68
20         21.0     1692       18.57    12.49
21         22.0     1451       15.92    10.71
22         23.0     1217       13.35     8.98
23         24.0     1009       11.07     7.45
24         25.0      852        9.35     6.29
25         26.0      694        7.62     5.12
26         27.0      571        6.27     4.21
27         28.0      461        5.06     3.40
28         29.0      377        4.14     2.78
29         30.0      321        3.52     2.37

_______________________________________

SITE 30 [Bulgaria]

Total amount of existing customers:  8245
Renewals:  2746
First SP:  5499

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     2562    93.30    31.07
1           2.0     2514    91.55    30.49
2           3.0     2456    89.44    29.79
3           4.0     2381    86.71    28.88
4           5.0     2305    83.94    27.96
5           6.0     2211    80.52    26.82
6           7.0     2110    76.84    25.59
7           8.0     1980    72.10    24.01
8           9.0     1844    67.15    22.37
9          10.0     1704    62.05    20.67
10         11.0     1548    56.37    18.78
11         12.0     1402    51.06    17.00
12         13.0     1253    45.63    15.20
13         14.0     1124    40.93    13.63
14         15.0      992    36.13    12.03
15         16.0      861    31.35    10.44
16         17.0      742    27.02     9.00
17         18.0      651    23.71     7.90
18         19.0      535    19.48     6.49
19         20.0      456    16.61     5.53
20         21.0      397    14.46     4.82
21         22.0      317    11.54     3.84
22         23.0      257     9.36     3.12
23         24.0      207     7.54     2.51
24         25.0      158     5.75     1.92
25         26.0      136     4.95     1.65
26         27.0      111     4.04     1.35
27         28.0       95     3.46     1.15
28         29.0       77     2.80     0.93
29         30.0       60     2.18     0.73

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0     4975       90.47    60.34
1           2.0     4850       88.20    58.82
2           3.0     4714       85.72    57.17
3           4.0     4566       83.03    55.38
4           5.0     4386       79.76    53.20
5           6.0     4166       75.76    50.53
6           7.0     3914       71.18    47.47
7           8.0     3645       66.28    44.21
8           9.0     3364       61.17    40.80
9          10.0     3111       56.57    37.73
10         11.0     2801       50.94    33.97
11         12.0     2543       46.24    30.84
12         13.0     2301       41.84    27.91
13         14.0     2100       38.19    25.47
14         15.0     1899       34.53    23.03
15         16.0     1701       30.93    20.63
16         17.0     1510       27.46    18.31
17         18.0     1335       24.28    16.19
18         19.0     1151       20.93    13.96
19         20.0     1010       18.37    12.25
20         21.0      876       15.93    10.62
21         22.0      759       13.80     9.21
22         23.0      651       11.84     7.90
23         24.0      572       10.40     6.94
24         25.0      488        8.87     5.92
25         26.0      407        7.40     4.94
26         27.0      341        6.20     4.14
27         28.0      285        5.18     3.46
28         29.0      246        4.47     2.98
29         30.0      196        3.56     2.38

_______________________________________

SITE 31 [Norway]

Total amount of existing customers:  13938
Renewals:  3105
First SP:  10833

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0     2641    85.06    18.95
1           2.0     2590    83.41    18.58
2           3.0     2531    81.51    18.16
3           4.0     2463    79.32    17.67
4           5.0     2389    76.94    17.14
5           6.0     2314    74.52    16.60
6           7.0     2232    71.88    16.01
7           8.0     2146    69.11    15.40
8           9.0     2059    66.31    14.77
9          10.0     1944    62.61    13.95
10         11.0     1822    58.68    13.07
11         12.0     1711    55.10    12.28
12         13.0     1586    51.08    11.38
13         14.0     1468    47.28    10.53
14         15.0     1333    42.93     9.56
15         16.0     1210    38.97     8.68
16         17.0     1107    35.65     7.94
17         18.0      997    32.11     7.15
18         19.0      866    27.89     6.21
19         20.0      757    24.38     5.43
20         21.0      662    21.32     4.75
21         22.0      587    18.90     4.21
22         23.0      508    16.36     3.64
23         24.0      443    14.27     3.18
24         25.0      388    12.50     2.78
25         26.0      340    10.95     2.44
26         27.0      278     8.95     1.99
27         28.0      240     7.73     1.72
28         29.0      211     6.80     1.51
29         30.0      181     5.83     1.30

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0     8505       78.51    61.02
1           2.0     8294       76.56    59.51
2           3.0     8049       74.30    57.75
3           4.0     7815       72.14    56.07
4           5.0     7519       69.41    53.95
5           6.0     7271       67.12    52.17
6           7.0     6979       64.42    50.07
7           8.0     6702       61.87    48.08
8           9.0     6391       59.00    45.85
9          10.0     6048       55.83    43.39
10         11.0     5707       52.68    40.95
11         12.0     5368       49.55    38.51
12         13.0     5032       46.45    36.10
13         14.0     4709       43.47    33.79
14         15.0     4405       40.66    31.60
15         16.0     4060       37.48    29.13
16         17.0     3747       34.59    26.88
17         18.0     3452       31.87    24.77
18         19.0     3198       29.52    22.94
19         20.0     2925       27.00    20.99
20         21.0     2664       24.59    19.11
21         22.0     2409       22.24    17.28
22         23.0     2164       19.98    15.53
23         24.0     1967       18.16    14.11
24         25.0     1777       16.40    12.75
25         26.0     1596       14.73    11.45
26         27.0     1431       13.21    10.27
27         28.0     1284       11.85     9.21
28         29.0     1106       10.21     7.94
29         30.0      974        8.99     6.99

_______________________________________

SITE 32 [Greece]

Total amount of existing customers:  3472
Renewals:  579
First SP:  2893

Renewals Table

    THRESHOLD_% ELIG_CUS  %_RENEW  %_TOTAL
0           1.0      207    35.75     5.96
1           2.0      192    33.16     5.53
2           3.0      177    30.57     5.10
3           4.0      167    28.84     4.81
4           5.0      152    26.25     4.38
5           6.0      140    24.18     4.03
6           7.0      132    22.80     3.80
7           8.0      123    21.24     3.54
8           9.0      104    17.96     3.00
9          10.0       92    15.89     2.65
10         11.0       82    14.16     2.36
11         12.0       77    13.30     2.22
12         13.0       73    12.61     2.10
13         14.0       63    10.88     1.81
14         15.0       57     9.84     1.64
15         16.0       51     8.81     1.47
16         17.0       43     7.43     1.24
17         18.0       38     6.56     1.09
18         19.0       31     5.35     0.89
19         20.0       24     4.15     0.69
20         21.0       23     3.97     0.66
21         22.0       20     3.45     0.58
22         23.0       17     2.94     0.49
23         24.0       15     2.59     0.43
24         25.0       11     1.90     0.32
25         26.0        7     1.21     0.20
26         27.0        6     1.04     0.17
27         28.0        5     0.86     0.14
28         29.0        4     0.69     0.12
29         30.0        4     0.69     0.12

First SP Table

    THRESHOLD_% ELIG_CUS  %_FIRST_SP  %_TOTAL
0           1.0      922       31.87    26.56
1           2.0      841       29.07    24.22
2           3.0      764       26.41    22.00
3           4.0      715       24.71    20.59
4           5.0      642       22.19    18.49
5           6.0      586       20.26    16.88
6           7.0      515       17.80    14.83
7           8.0      452       15.62    13.02
8           9.0      412       14.24    11.87
9          10.0      364       12.58    10.48
10         11.0      322       11.13     9.27
11         12.0      284        9.82     8.18
12         13.0      249        8.61     7.17
13         14.0      221        7.64     6.37
14         15.0      189        6.53     5.44
15         16.0      171        5.91     4.93
16         17.0      151        5.22     4.35
17         18.0      130        4.49     3.74
18         19.0      113        3.91     3.25
19         20.0       95        3.28     2.74
20         21.0       84        2.90     2.42
21         22.0       62        2.14     1.79
22         23.0       46        1.59     1.32
23         24.0       34        1.18     0.98
24         25.0       28        0.97     0.81
25         26.0       22        0.76     0.63
26         27.0       19        0.66     0.55
27         28.0       14        0.48     0.40
28         29.0       12        0.41     0.35
29         30.0        9        0.31     0.26

_______________________________________

In [69]:
book = load_workbook(out_path)
writer = pd.ExcelWriter(out_path, engine='openpyxl') 
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

In [74]:
for i in np.sort(data['cop_pref_o_ext_s_id'].unique())[:25]:
    book[site_dict[i]].cell(row=1, column=1).value = "Renewals Table"
    book[site_dict[i]].cell(row=1, column=6).value = "First SP Table"
writer.save()

In [ ]:
# Calculations above don't correspond to control groups (2)

## Control Groups

Let's get from each customer his last eligibility status:

In [26]:
query = """
  SELECT *
        FROM(
            SELECT
            EC_C_ID,
            EC_EXT_CTI_ID,
            EC_BOX,
            EC_RULES,
            EC_TIMESTAMP,
            ROW_NUMBER() OVER ( PARTITION BY EC_C_ID ORDER BY EC_TIMESTAMP DESC ) LAST_ELIG
            FROM ELIGIBILITY_CHANGES
        ) q1
        WHERE LAST_ELIG = 1
"""

In [27]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
curs = conn.cursor()
data = pd.read_sql(query, con = conn)
conn.close()

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15871228 entries, 0 to 15871227
Data columns (total 6 columns):
ec_c_id          int64
ec_ext_cti_id    int64
ec_box           object
ec_rules         object
ec_timestamp     datetime64[ns]
last_elig        int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 726.5+ MB

In [29]:
data.head()

   ec_c_id  ec_ext_cti_id ec_box ec_rules ec_timestamp  last_elig
0        1              0      Z    A|A|A   2018-07-31          1
1        6              0      Z    A|A|A   2018-07-31          1
2       10              0      Z    A|A|A   2018-07-31          1
3       12              0      Z    A|A|A   2018-07-31          1
4       14              0      Z    A|A|A   2018-07-31          1

In [36]:
data['ec_ext_cti_id'].unique()

array([   0,    6,    4,    5,   25,   24, 1005, 1004, 1000], dtype=int64)

In [37]:
data[data['ec_ext_cti_id'] != 0].sort_values(by='ec_c_id', ascending=False)

,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
15871225,20917236,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 09:33:04.092002,1
15871215,20917138,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 09:22:02.394286,1
15871172,20916944,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:55:20.495212,1
15871123,20916873,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:51:43.639807,1
15871031,20916761,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:38:12.516530,1
15871002,20916722,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 09:03:29.363444,1
15870977,20916691,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:48:59.604806,1
15870968,20916679,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:29:21.801476,1
15870829,20916503,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:01:06.829379,1
15870778,20916428,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 07:43:55.699754,1
15870747,20916389,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 07:22:53.813388,1
15870731,20916371,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:41:50.496915,1
15870724,20916363,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 07:23:05.971451,1
15870669,20916293,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 06:19:23.887223,1
15870656,20916276,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 09:03:49.774175,1
15870631,20916248,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 03:45:22.160780,1
15870626,20916243,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 06:19:25.515037,1
15870610,20916222,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:59:55.862388,1
15870603,20916215,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:49:08.485348,1
15870582,20916191,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 03:29:29.249230,1
15870569,20916176,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 03:01:06.043373,1
15870555,20916152,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:04:05.693271,1
15870548,20916145,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 01:27:24.421226,1
15870536,20916132,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 02:35:25.701576,1
15870528,20916124,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 09:13:20.568213,1
15870502,20916091,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 07:51:27.739655,1
15870484,20916070,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 01:00:41.280922,1
15870472,20916056,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:57:12.591153,1
15870457,20916035,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 05:51:42.816652,1
15870450,20916025,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-07 08:09:29.617094,1
...,...,...,...,...,...,...
640,880,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:31.575267,1
625,861,5,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:31.575267,1
597,818,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:39.548178,1
593,812,5,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:39.548178,1
580,794,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:39.548178,1
565,772,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:39.548178,1
552,753,5,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:31.575267,1
525,717,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
432,571,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
422,557,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
421,556,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
395,522,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:31.575267,1
380,502,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:31.524321,1
370,489,4,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:36.113419,1
367,485,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:36.113419,1
366,484,4,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:36.113419,1
352,464,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 20:01:23.660555,1
348,458,4,B3,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:31.575267,1
339,446,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.575267,1
304,401,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 20:18:54.236059,1
277,363,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:36.113419,1
258,340,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 20:04:01.851865,1
172,221,4,B2,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-08-06 01:02:18.589486,1
169,218,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
166,212,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
136,178,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:31.524321,1
98,132,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:35.673976,1
92,125,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 19:02:35.673976,1
48,64,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:02:36.113419,1
30,44,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:02:36.113419,1

And now, let's see customer_order_profile

In [30]:
query = """SELECT cop_c_id, cop_pref_o_ext_s_id, cop_g_order_count, cop_g_net_total, cop_g_cm2
FROM public.customer_order_profile
where cop_g_cm2 is not null
"""

In [31]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
curs = conn.cursor()
data_c = pd.read_sql(query, con = conn)
conn.close()

In [32]:
data_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9233523 entries, 0 to 9233522
Data columns (total 5 columns):
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
dtypes: float64(2), int64(3)
memory usage: 352.2 MB

In [33]:
data_c['CM2%'] = data_c['cop_g_cm2'] / data_c['cop_g_net_total'] * 100

In [34]:
data_c.sample(10)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%
8475288,14565333,1,2,36.731092,7.203030,19.610171
7317935,12739031,18,1,33.048387,5.906387,17.871937
7765414,13505572,12,2,32.729508,2.921908,8.927442
6451037,10713243,26,2,118.183587,9.722387,8.226512
2862303,19358309,3,3,119.405511,-13.871054,-11.616762
9174577,15487398,12,1,36.778689,12.752686,34.674118
5852281,8644073,1,7,418.970247,57.873476,13.813266
7889954,13712737,21,7,213.385855,45.269045,21.214642
4118647,20731045,3,1,58.767370,3.104370,5.282472
1323702,17275642,4,3,382.216667,22.208669,5.810492

In [38]:
cus_data = data_c.merge(data, how='inner', left_on='cop_c_id', right_on='ec_c_id')

In [39]:
cus_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9233523 entries, 0 to 9233522
Data columns (total 12 columns):
cop_c_id               int64
cop_pref_o_ext_s_id    int64
cop_g_order_count      int64
cop_g_net_total        float64
cop_g_cm2              float64
CM2%                   float64
ec_c_id                int64
ec_ext_cti_id          int64
ec_box                 object
ec_rules               object
ec_timestamp           datetime64[ns]
last_elig              int64
dtypes: datetime64[ns](1), float64(3), int64(6), object(2)
memory usage: 915.8+ MB

In [40]:
cus_data.sample(5)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
6925230,12079910,16,2,62.431726,5.919134,9.480971,12079910,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 20:43:44.494025,1
8208484,14195084,4,1,25.816667,6.053424,23.447736,14195084,0,Z,A|A|A,2018-07-31 00:00:00.000000,1
8503934,14602702,7,6,394.371901,9.555551,2.422980,14602702,0,Z,A|A|A,2018-07-31 00:00:00.000000,1
84546,15678463,12,1,34.278689,8.213868,23.962025,15678463,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 21:30:57.278006,1
8769420,14951214,4,3,129.133333,33.229875,25.732996,14951214,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 21:18:58.353015,1

In [42]:
sp_eligible = cus_data[cus_data['ec_ext_cti_id'] != 0].sort_values(by='ec_c_id', ascending=False)

In [44]:
sp_eligible.sample(10)

,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
8464733,14551518,16,3,81.083583,22.893852,28.234880,14551518,5,B3,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 21:08:40.905820,1
9015891,15276630,1,1,48.200581,7.919581,16.430468,15276630,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 21:23:23.074515,1
6488088,10836674,4,2,80.466667,20.515630,25.495812,10836674,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 20:35:16.154565,1
609958,16360111,1,4,252.273332,51.907829,20.576027,16360111,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 21:42:16.372069,1
3681312,20510841,1,2,148.389900,18.066900,12.175290,20510841,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-08-03 21:59:29.695811,1
736710,16522974,12,8,643.672112,134.445031,20.887192,16522974,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 21:45:16.770597,1
5593467,7644160,7,2,175.462810,36.549643,20.830422,7644160,5,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 20:06:08.522422,1
7163151,12478591,7,7,355.024794,34.021544,9.582864,12478591,4,B4,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 20:51:08.094775,1
4920318,4442284,1,1,22.680672,8.847353,39.008337,4442284,6,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 19:34:10.747477,1
4672019,3028850,4,3,179.933367,16.633407,9.244204,3028850,4,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P-|A-,B-,C...",2018-07-31 19:22:34.531016,1

In [46]:
sp_eligible[sp_eligible['ec_timestamp'] >= '2018-07-01'].groupby(sp_eligible['ec_timestamp'].dt.date)['cop_c_id'].count()

ec_timestamp
2018-07-31    4012120
2018-08-01      13039
2018-08-02      17352
2018-08-03      13726
2018-08-04       5532
2018-08-05       7875
2018-08-06      13552
2018-08-07       6655
Name: cop_c_id, dtype: int64

Finally, let's locate those registered customer accounts in the last month

In [63]:
query = """SELECT c_id, c_registered_account, c_registration_ext_s_id, c_registration_date
FROM public.customers
where c_registered_account = True
and c_registration_date >= to_date('01/07/18', 'DD/MM/YY')
"""

In [64]:
conn = psycopg2.connect("dbname='savings_plan_db' user='dba' host='savings-plan-prod-c-savings-plan-db-readonly.ccsod6gcmvcs.eu-central-1.rds.amazonaws.com' password='m4d_l0y_db4?'")
curs = conn.cursor()
data_r = pd.read_sql(query, con = conn)
conn.close()

In [65]:
data_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259791 entries, 0 to 259790
Data columns (total 4 columns):
c_id                       259791 non-null int64
c_registered_account       259791 non-null bool
c_registration_ext_s_id    259791 non-null int64
c_registration_date        259791 non-null object
dtypes: bool(1), int64(2), object(1)
memory usage: 6.2+ MB

In [66]:
data_r.sample(5)

,c_id,c_registered_account,c_registration_ext_s_id,c_registration_date
41679,20859924,True,4,2018-07-31
152118,20640522,True,8,2018-07-04
127180,20683945,True,1,2018-07-09
207927,20667556,True,12,2018-07-08
81347,20822283,True,25,2018-07-26

In [67]:
data_r['c_registration_date'].min()

datetime.date(2018, 7, 1)

In [68]:
data_r['c_registered_account'].unique()

array([ True])

In [69]:
reg_cus_data = data_r.merge(cus_data, how='left', left_on='c_id', right_on='cop_c_id')

In [70]:
reg_cus_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 259791 entries, 0 to 259790
Data columns (total 16 columns):
c_id                       259791 non-null int64
c_registered_account       259791 non-null bool
c_registration_ext_s_id    259791 non-null int64
c_registration_date        259791 non-null object
cop_c_id                   201621 non-null float64
cop_pref_o_ext_s_id        201621 non-null float64
cop_g_order_count          201621 non-null float64
cop_g_net_total            201621 non-null float64
cop_g_cm2                  201621 non-null float64
CM2%                       201621 non-null float64
ec_c_id                    201621 non-null float64
ec_ext_cti_id              201621 non-null float64
ec_box                     201621 non-null object
ec_rules                   201621 non-null object
ec_timestamp               201621 non-null datetime64[ns]
last_elig                  201621 non-null float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(2), object(3)
memory usage: 32.0+ MB

In [72]:
reg_cus_data.sample(10).round(2)

,c_id,c_registered_account,c_registration_ext_s_id,c_registration_date,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
105508,20897845,True,23,2018-08-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
94208,20618551,True,3,2018-07-02,20618551.0,3.0,1.0,27.93,-0.49,-1.76,20618551.0,0.0,Z,A|A|A,2018-07-31 00:00:00.000000,1.0
248987,20767736,True,21,2018-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
167921,20901166,True,1,2018-08-05,20901166.0,1.0,1.0,42.44,6.52,15.36,20901166.0,0.0,Z,"A+,B-,C-,D+,E-,G-,H-,I-,J-,K-|A+|A+",2018-08-05 16:02:04.696712,1.0
85668,20833066,True,4,2018-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
197002,20885596,True,1,2018-08-03,20885596.0,1.0,1.0,50.46,9.05,17.95,20885596.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-08-06 09:10:47.385894,1.0
63920,20822013,True,3,2018-07-26,20822013.0,3.0,1.0,29.00,-2.24,-7.72,20822013.0,0.0,Z,A|A|A,2018-07-31 00:00:00.000000,1.0
128959,20637632,True,12,2018-07-04,20637632.0,12.0,1.0,33.08,0.75,2.28,20637632.0,0.0,Z,A|A|A,2018-07-31 00:00:00.000000,1.0
222351,20845696,True,1,2018-07-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
30215,20914125,True,15,2018-08-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [86]:
zp_countries = np.sort(reg_cus_data['c_registration_ext_s_id'].unique())[:25]

In [92]:
zp_countries

array([ 1,  2,  3,  4,  7,  8, 11, 12, 14, 15, 16, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 28, 29, 30, 31, 32], dtype=int64)

In [87]:
zp_reg_cus_data = reg_cus_data[reg_cus_data['c_registration_ext_s_id'].isin(zp_countries)]

In [83]:
import matplotlib.pyplot as plt
from IPython.display import display

In [160]:
for i in np.sort(reg_cus_data['c_registration_ext_s_id'].unique())[:25]:
    site_data = reg_cus_data[reg_cus_data['c_registration_ext_s_id'] == i]
    print('SITE ' + str(i) + ': ' + str(len(site_data)))

SITE 1: 47068
SITE 2: 418
SITE 3: 15353
SITE 4: 33693
SITE 7: 19711
SITE 8: 21647
SITE 11: 1249
SITE 12: 15027
SITE 14: 3774
SITE 15: 10428
SITE 16: 5633
SITE 18: 4317
SITE 19: 1840
SITE 20: 292
SITE 21: 6150
SITE 22: 4152
SITE 23: 1367
SITE 24: 2979
SITE 25: 5598
SITE 26: 9013
SITE 28: 2413
SITE 29: 858
SITE 30: 997
SITE 31: 1727
SITE 32: 1107

In [97]:
cols = list(['DATE']) + list(np.sort(zp_reg_cus_data['cop_pref_o_ext_s_id'].unique())[:25])

In [100]:
daily_reg_per_site = pd.DataFrame(columns = cols)

Empty DataFrame
Columns: [DATE, 1.0, 2.0, 3.0, 4.0, 7.0, 8.0, 11.0, 12.0, 14.0, 15.0, 16.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 28.0, 29.0, 30.0, 31.0, 32.0]
Index: []

[0 rows x 26 columns]

In [101]:
daily_reg_per_site['DATE'] = np.sort(zp_reg_cus_data['c_registration_date'].unique())

In [106]:
daily_reg_per_site = daily_reg_per_site.set_index('DATE')

In [117]:
for i in np.sort(zp_reg_cus_data['c_registration_ext_s_id'].unique()):
    gr = zp_reg_cus_data[zp_reg_cus_data['cop_pref_o_ext_s_id'] == i].groupby('c_registration_date')['c_id'].nunique()
    for x, y in list(zip(gr.index, gr.values)):
        daily_reg_per_site.loc[x, i] = y

In [214]:
daily_reg_per_site = daily_reg_per_site.drop(daily_reg_per_site.index[len(daily_reg_per_site) - 1:])

In [248]:
daily_reg_per_site

,1.0,2.0,3.0,4.0,7.0,8.0,11.0,12.0,14.0,15.0,...,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,31.0,32.0
DATE,,,,,,,,,,,,,,,,,,,,,
2018-07-01,1396,12,389,892,540,540,36,339,92,247,...,89,40,42,164,193,51,18,8,42,20
2018-07-02,1355,5,387,964,580,726,49,527,88,345,...,130,45,68,171,230,70,29,16,44,18
2018-07-03,1260,5,352,918,562,636,28,457,111,337,...,138,33,70,138,200,46,33,22,56,20
2018-07-04,1137,3,336,860,525,649,29,460,114,315,...,122,39,56,124,194,64,27,19,43,24
2018-07-05,1062,5,326,813,495,532,35,397,101,268,...,130,29,48,133,164,34,22,19,51,22
2018-07-06,895,9,282,637,374,405,27,326,60,206,...,103,24,31,115,156,47,19,10,32,17
2018-07-07,824,7,240,647,370,303,20,275,86,185,...,69,28,39,99,132,45,15,16,38,15
2018-07-08,1155,6,320,818,505,549,24,336,100,243,...,123,38,44,164,182,41,20,11,35,12
2018-07-09,1311,7,344,982,662,798,38,474,98,317,...,152,29,70,141,245,66,21,21,46,35
2018-07-10,1250,10,335,825,566,804,32,445,94,323,...,153,36,69,156,163,55,22,27,42,18
2018-07-11,1275,6,278,864,586,724,35,409,95,236,...,130,40,56,150,204,56,19,13,42,22
2018-07-12,1099,8,326,726,474,580,24,358,85,251,...,101,25,61,112,185,33,26,19,38,26
2018-07-13,852,11,278,638,459,465,28,280,75,183,...,77,37,42,109,140,32,21,11,36,16
2018-07-14,763,4,249,607,361,340,22,257,50,155,...,71,24,34,96,120,39,27,13,32,15
2018-07-15,1150,6,294,566,487,595,37,284,60,224,...,83,46,36,138,169,55,19,13,51,16
2018-07-16,1183,11,354,822,572,732,35,437,113,287,...,135,45,80,155,211,66,17,29,48,29
2018-07-17,1154,5,409,839,520,700,39,422,100,269,...,108,41,75,166,220,60,17,29,59,29
2018-07-18,1062,6,340,785,454,612,30,409,96,234,...,107,36,67,125,215,61,24,22,30,21
2018-07-19,1007,8,325,670,437,529,30,330,90,255,...,96,34,63,118,209,47,19,21,46,29
2018-07-20,870,4,350,617,406,361,29,293,54,213,...,61,26,53,113,161,41,15,6,38,20
2018-07-21,843,5,306,622,380,229,26,308,57,169,...,42,26,38,103,138,26,15,11,23,11
2018-07-22,1215,5,385,784,495,440,19,306,78,207,...,93,31,37,157,138,36,27,9,43,11
2018-07-23,1179,5,446,904,595,653,41,439,113,257,...,130,43,83,149,198,64,21,21,54,26
2018-07-24,1156,7,408,781,562,635,31,380,96,260,...,93,42,52,152,173,58,15,19,46,12
2018-07-25,1128,8,401,760,514,560,35,343,74,246,...,78,41,58,127,189,45,25,14,36,18
2018-07-26,1050,2,345,676,434,476,34,316,51,226,...,81,35,41,109,82,50,21,12,36,21
2018-07-27,233,2,53,137,61,140,5,69,17,35,...,11,12,12,25,31,24,11,3,2,8
2018-07-28,83,NaN,40,33,28,52,3,21,5,15,...,8,NaN,6,22,28,10,3,6,2,1
2018-07-29,100,1,107,86,44,85,2,43,12,70,...,9,3,11,71,38,21,7,3,4,1
2018-07-30,238,2,194,290,59,162,6,153,23,152,...,28,4,43,144,91,40,9,16,6,6
2018-07-31,1186,11,459,900,523,614,33,367,94,289,...,103,36,72,102,216,76,22,17,43,23
2018-08-01,1269,8,467,963,558,636,37,412,96,316,...,105,32,54,102,169,67,26,15,34,29
2018-08-02,1088,10,439,867,436,524,37,378,94,234,...,105,27,50,114,170,42,23,16,26,22
2018-08-03,861,7,459,664,403,371,25,307,78,187,...,109,36,43,84,151,23,23,12,42,17
2018-08-04,820,2,368,590,338,282,22,279,68,156,...,70,15,32,87,100,31,15,13,30,9
2018-08-05,1041,6,345,476,422,445,16,228,62,143,...,88,31,21,146,193,20,15,7,29,12
2018-08-06,741,5,251,204,309,522,5,132,46,117,...,61,20,3,98,43,18,13,NaN,35,12

In [215]:
daily_reg_per_site.fillna(0).apply(sum, axis=1)

DATE
2018-07-01    5610
2018-07-02    6342
2018-07-03    5896
2018-07-04    5542
2018-07-05    5048
2018-07-06    4128
2018-07-07    3742
2018-07-08    5204
2018-07-09    6407
2018-07-10    5955
2018-07-11    5775
2018-07-12    5017
2018-07-13    4169
2018-07-14    3626
2018-07-15    4811
2018-07-16    5932
2018-07-17    5761
2018-07-18    5217
2018-07-19    4776
2018-07-20    4072
2018-07-21    3661
2018-07-22    5043
2018-07-23    5930
2018-07-24    5486
2018-07-25    5095
2018-07-26    4479
2018-07-27    1006
2018-07-28     434
2018-07-29     821
2018-07-30    1804
2018-07-31    5702
2018-08-01    5850
2018-08-02    5142
2018-08-03    4274
2018-08-04    3589
2018-08-05    4196
2018-08-06    3022
dtype: int64

In [216]:
reg_rel_values_per_site = daily_reg_per_site.apply(lambda x: x/x.sum() * 100, axis=1).round(2)

In [217]:
daily_reg_per_site.apply(lambda x: x/x.sum() * 100, axis=1).round(2)[daily_reg_per_site.columns[:12]]

,1.0,2.0,3.0,4.0,7.0,8.0,11.0,12.0,14.0,15.0,16.0,18.0
DATE,,,,,,,,,,,,
2018-07-01,24.88,0.21,6.93,15.90,9.63,9.63,0.64,6.04,1.64,4.40,2.60,1.89
2018-07-02,21.37,0.08,6.10,15.20,9.15,11.45,0.77,8.31,1.39,5.44,2.33,1.92
2018-07-03,21.37,0.08,5.97,15.57,9.53,10.79,0.47,7.75,1.88,5.72,1.95,2.14
2018-07-04,20.52,0.05,6.06,15.52,9.47,11.71,0.52,8.30,2.06,5.68,1.79,1.88
2018-07-05,21.04,0.10,6.46,16.11,9.81,10.54,0.69,7.86,2.00,5.31,1.66,1.60
2018-07-06,21.68,0.22,6.83,15.43,9.06,9.81,0.65,7.90,1.45,4.99,1.79,2.52
2018-07-07,22.02,0.19,6.41,17.29,9.89,8.10,0.53,7.35,2.30,4.94,2.19,1.87
2018-07-08,22.19,0.12,6.15,15.72,9.70,10.55,0.46,6.46,1.92,4.67,3.19,1.98
2018-07-09,20.46,0.11,5.37,15.33,10.33,12.46,0.59,7.40,1.53,4.95,3.48,1.51
2018-07-10,20.99,0.17,5.63,13.85,9.50,13.50,0.54,7.47,1.58,5.42,3.19,1.78
2018-07-11,22.08,0.10,4.81,14.96,10.15,12.54,0.61,7.08,1.65,4.09,3.93,2.08
2018-07-12,21.91,0.16,6.50,14.47,9.45,11.56,0.48,7.14,1.69,5.00,3.53,1.87
2018-07-13,20.44,0.26,6.67,15.30,11.01,11.15,0.67,6.72,1.80,4.39,3.17,1.97
2018-07-14,21.04,0.11,6.87,16.74,9.96,9.38,0.61,7.09,1.38,4.27,3.17,2.21
2018-07-15,23.90,0.12,6.11,11.76,10.12,12.37,0.77,5.90,1.25,4.66,3.37,2.29
2018-07-16,19.94,0.19,5.97,13.86,9.64,12.34,0.59,7.37,1.90,4.84,3.39,2.11
2018-07-17,20.03,0.09,7.10,14.56,9.03,12.15,0.68,7.33,1.74,4.67,3.00,1.81
2018-07-18,20.36,0.12,6.52,15.05,8.70,11.73,0.58,7.84,1.84,4.49,3.14,1.86
2018-07-19,21.08,0.17,6.80,14.03,9.15,11.08,0.63,6.91,1.88,5.34,2.95,1.86
2018-07-20,21.37,0.10,8.60,15.15,9.97,8.87,0.71,7.20,1.33,5.23,2.53,1.94
2018-07-21,23.03,0.14,8.36,16.99,10.38,6.26,0.71,8.41,1.56,4.62,2.46,1.61
2018-07-22,24.09,0.10,7.63,15.55,9.82,8.72,0.38,6.07,1.55,4.10,3.79,2.04
2018-07-23,19.88,0.08,7.52,15.24,10.03,11.01,0.69,7.40,1.91,4.33,2.83,2.01
2018-07-24,21.07,0.13,7.44,14.24,10.24,11.57,0.57,6.93,1.75,4.74,3.21,1.93
2018-07-25,22.14,0.16,7.87,14.92,10.09,10.99,0.69,6.73,1.45,4.83,2.94,1.41
2018-07-26,23.44,0.04,7.70,15.09,9.69,10.63,0.76,7.06,1.14,5.05,2.48,1.94
2018-07-27,23.16,0.20,5.27,13.62,6.06,13.92,0.50,6.86,1.69,3.48,7.75,0.89
2018-07-28,19.12,NaN,9.22,7.60,6.45,11.98,0.69,4.84,1.15,3.46,12.44,NaN
2018-07-29,12.18,0.12,13.03,10.48,5.36,10.35,0.24,5.24,1.46,8.53,8.77,0.85
2018-07-30,13.19,0.11,10.75,16.08,3.27,8.98,0.33,8.48,1.27,8.43,5.93,0.33
2018-07-31,20.80,0.19,8.05,15.78,9.17,10.77,0.58,6.44,1.65,5.07,2.16,1.93
2018-08-01,21.69,0.14,7.98,16.46,9.54,10.87,0.63,7.04,1.64,5.40,1.86,1.74
2018-08-02,21.16,0.19,8.54,16.86,8.48,10.19,0.72,7.35,1.83,4.55,2.61,2.28
2018-08-03,20.15,0.16,10.74,15.54,9.43,8.68,0.58,7.18,1.82,4.38,2.64,1.92
2018-08-04,22.85,0.06,10.25,16.44,9.42,7.86,0.61,7.77,1.89,4.35,2.31,1.81
2018-08-05,24.81,0.14,8.22,11.34,10.06,10.61,0.38,5.43,1.48,3.41,2.69,2.50
2018-08-06,24.52,0.17,8.31,6.75,10.23,17.27,0.17,4.37,1.52,3.87,5.06,2.08

In [218]:
daily_reg_per_site.apply(lambda x: x/x.sum() * 100, axis=1).round(2)[daily_reg_per_site.columns[12:]]

,19.0,20.0,21.0,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,31.0,32.0
DATE,,,,,,,,,,,,,
2018-07-01,0.59,0.05,3.07,1.59,0.71,0.75,2.92,3.44,0.91,0.32,0.14,0.75,0.36
2018-07-02,0.60,0.08,2.87,2.05,0.71,1.07,2.70,3.63,1.10,0.46,0.25,0.69,0.28
2018-07-03,0.71,0.12,3.12,2.34,0.56,1.19,2.34,3.39,0.78,0.56,0.37,0.95,0.34
2018-07-04,0.65,0.13,2.81,2.20,0.70,1.01,2.24,3.50,1.15,0.49,0.34,0.78,0.43
2018-07-05,0.61,0.34,2.95,2.58,0.57,0.95,2.63,3.25,0.67,0.44,0.38,1.01,0.44
2018-07-06,0.97,0.29,2.98,2.50,0.58,0.75,2.79,3.78,1.14,0.46,0.24,0.78,0.41
2018-07-07,0.75,0.08,2.83,1.84,0.75,1.04,2.65,3.53,1.20,0.40,0.43,1.02,0.40
2018-07-08,0.94,0.15,2.92,2.36,0.73,0.85,3.15,3.50,0.79,0.38,0.21,0.67,0.23
2018-07-09,0.83,0.09,2.67,2.37,0.45,1.09,2.20,3.82,1.03,0.33,0.33,0.72,0.55
2018-07-10,1.02,0.13,2.77,2.57,0.60,1.16,2.62,2.74,0.92,0.37,0.45,0.71,0.30
2018-07-11,0.81,0.19,2.25,2.25,0.69,0.97,2.60,3.53,0.97,0.33,0.23,0.73,0.38
2018-07-12,1.14,0.22,2.41,2.01,0.50,1.22,2.23,3.69,0.66,0.52,0.38,0.76,0.52
2018-07-13,1.06,0.19,2.71,1.85,0.89,1.01,2.61,3.36,0.77,0.50,0.26,0.86,0.38
2018-07-14,0.99,0.17,3.03,1.96,0.66,0.94,2.65,3.31,1.08,0.74,0.36,0.88,0.41
2018-07-15,0.96,0.17,3.24,1.73,0.96,0.75,2.87,3.51,1.14,0.39,0.27,1.06,0.33
2018-07-16,0.88,0.13,3.12,2.28,0.76,1.35,2.61,3.56,1.11,0.29,0.49,0.81,0.49
2018-07-17,1.08,0.09,2.71,1.87,0.71,1.30,2.88,3.82,1.04,0.30,0.50,1.02,0.50
2018-07-18,1.11,0.13,2.97,2.05,0.69,1.28,2.40,4.12,1.17,0.46,0.42,0.58,0.40
2018-07-19,1.24,0.15,2.45,2.01,0.71,1.32,2.47,4.38,0.98,0.40,0.44,0.96,0.61
2018-07-20,0.81,0.07,3.02,1.50,0.64,1.30,2.78,3.95,1.01,0.37,0.15,0.93,0.49
2018-07-21,0.76,0.08,2.81,1.15,0.71,1.04,2.81,3.77,0.71,0.41,0.30,0.63,0.30
2018-07-22,1.01,0.16,3.45,1.84,0.61,0.73,3.11,2.74,0.71,0.54,0.18,0.85,0.22
2018-07-23,0.84,0.19,2.72,2.19,0.73,1.40,2.51,3.34,1.08,0.35,0.35,0.91,0.44
2018-07-24,0.77,0.13,3.23,1.70,0.77,0.95,2.77,3.15,1.06,0.27,0.35,0.84,0.22
2018-07-25,0.77,0.08,2.55,1.53,0.80,1.14,2.49,3.71,0.88,0.49,0.27,0.71,0.35
2018-07-26,0.87,0.13,3.08,1.81,0.78,0.92,2.43,1.83,1.12,0.47,0.27,0.80,0.47
2018-07-27,0.99,0.20,1.59,1.09,1.19,1.19,2.49,3.08,2.39,1.09,0.30,0.20,0.80
2018-07-28,NaN,NaN,3.23,1.84,NaN,1.38,5.07,6.45,2.30,0.69,1.38,0.46,0.23
2018-07-29,0.85,NaN,2.07,1.10,0.37,1.34,8.65,4.63,2.56,0.85,0.37,0.49,0.12
2018-07-30,0.44,NaN,0.94,1.55,0.22,2.38,7.98,5.04,2.22,0.50,0.89,0.33,0.33
2018-07-31,0.81,0.07,4.09,1.81,0.63,1.26,1.79,3.79,1.33,0.39,0.30,0.75,0.40
2018-08-01,0.62,0.12,3.44,1.79,0.55,0.92,1.74,2.89,1.15,0.44,0.26,0.58,0.50
2018-08-02,0.64,0.04,2.99,2.04,0.53,0.97,2.22,3.31,0.82,0.45,0.31,0.51,0.43
2018-08-03,0.77,0.12,3.25,2.55,0.84,1.01,1.97,3.53,0.54,0.54,0.28,0.98,0.40
2018-08-04,0.47,0.06,2.65,1.95,0.42,0.89,2.42,2.79,0.86,0.42,0.36,0.84,0.25
2018-08-05,0.81,0.14,4.58,2.10,0.74,0.50,3.48,4.60,0.48,0.36,0.17,0.69,0.29
2018-08-06,1.52,0.07,4.07,2.02,0.66,0.10,3.24,1.42,0.60,0.43,NaN,1.16,0.40

In [247]:
#Median values when looking at how are registered customers distributed per site
reg_rel_values_per_site.describe().loc['50%'].round(2)

1.0     21.37
2.0      0.12
3.0      6.93
4.0     15.24
7.0      9.63
8.0     10.87
11.0     0.61
12.0     7.14
14.0     1.65
15.0     4.74
16.0     2.95
18.0     1.92
19.0     0.82
20.0     0.13
21.0     2.95
22.0     1.96
23.0     0.70
24.0     1.04
25.0     2.62
26.0     3.53
28.0     1.03
29.0     0.44
30.0     0.32
31.0     0.78
32.0     0.40
Name: 50%, dtype: float64

In [220]:
zp_reg_cus_data.head(10)

,c_id,c_registered_account,c_registration_ext_s_id,c_registration_date,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
1,20687498,True,8,2018-07-10,20687498.0,8.0,2.0,32.837283,5.535283,16.856703,20687498.0,5.0,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 22:35:14.730085,1.0
2,20718112,True,3,2018-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
6,20767855,True,22,2018-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
7,20768144,True,15,2018-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
8,20785910,True,1,2018-07-22,20785910.0,1.0,1.0,27.904100,7.770900,27.848596,20785910.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:30:56.744814,1.0
9,20785857,True,4,2018-07-22,20785857.0,4.0,1.0,48.591700,-1.841700,-3.790153,20785857.0,0.0,Z,A|A|A,2018-07-31 00:00:00.000000,1.0
10,20785978,True,8,2018-07-22,20785978.0,8.0,1.0,53.498857,2.970357,5.552188,20785978.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:31:17.756786,1.0
11,20786040,True,4,2018-07-22,20786040.0,4.0,1.0,49.075000,1.706400,3.477127,20786040.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:31:36.575233,1.0
12,20786134,True,1,2018-07-22,20786134.0,1.0,1.0,17.327100,5.081300,29.325738,20786134.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:32:23.467107,1.0
13,20786133,True,14,2018-07-22,20786133.0,14.0,1.0,33.752100,-0.187900,-0.556706,20786133.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:34:16.884711,1.0

In [221]:
zp_reg_cus_data.columns

Index(['c_id', 'c_registered_account', 'c_registration_ext_s_id',
       'c_registration_date', 'cop_c_id', 'cop_pref_o_ext_s_id',
       'cop_g_order_count', 'cop_g_net_total', 'cop_g_cm2', 'CM2%', 'ec_c_id',
       'ec_ext_cti_id', 'ec_box', 'ec_rules', 'ec_timestamp', 'last_elig'],
      dtype='object')

In [222]:
zp_reg_cus_data['ec_ext_cti_id'].unique()

array([   5.,   nan,    6.,    0.,    4., 1000.,   24.,   25., 1004.,
       1005.])

In [223]:
len(zp_reg_cus_data)

216811

In [224]:
#len 168601 with eligibility status
zp_reg_cus_data_not_null = zp_reg_cus_data[~zp_reg_cus_data.apply(lambda x: x.isnull().any(), axis=1)]

In [225]:
len(zp_reg_cus_data_not_null)

168601

In [226]:
zp_reg_cus_sp_elig = zp_reg_cus_data_not_null[zp_reg_cus_data_not_null['ec_ext_cti_id'] != 0]

In [227]:
zp_reg_cus_sp_elig['ec_ext_cti_id'].value_counts()

6.0       67657
5.0        5573
4.0        5479
24.0        208
1000.0      196
25.0         74
1004.0       63
1005.0       10
Name: ec_ext_cti_id, dtype: int64

In [228]:
zp_reg_cus_data.head()

,c_id,c_registered_account,c_registration_ext_s_id,c_registration_date,cop_c_id,cop_pref_o_ext_s_id,cop_g_order_count,cop_g_net_total,cop_g_cm2,CM2%,ec_c_id,ec_ext_cti_id,ec_box,ec_rules,ec_timestamp,last_elig
1,20687498,True,8,2018-07-10,20687498.0,8.0,2.0,32.837283,5.535283,16.856703,20687498.0,5.0,A,"A+,B-,C-,D+,E-,G-,H-,I+,L-,M-,N-,O+,P+|A-,B-,C...",2018-07-31 22:35:14.730085,1.0
2,20718112,True,3,2018-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
6,20767855,True,22,2018-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
7,20768144,True,15,2018-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
8,20785910,True,1,2018-07-22,20785910.0,1.0,1.0,27.904100,7.770900,27.848596,20785910.0,6.0,N,"A+,B-,C-,D+,E-,G-,H-,I-,J+|A-,B-,C-,D+,E+|A-,B...",2018-07-31 22:30:56.744814,1.0

In [229]:
sp_tiers = [4, 5, 6, 24, 25, 1000, 1004, 1005]

In [237]:
daily_elig_per_site = pd.DataFrame(columns = cols)

In [238]:
daily_elig_per_site['DATE'] = np.sort(zp_reg_cus_data['c_registration_date'].unique())

In [239]:
daily_elig_per_site = daily_elig_per_site.set_index('DATE')

In [240]:
for i in np.sort(zp_reg_cus_data['c_registration_ext_s_id'].unique()):
    site_data = zp_reg_cus_data[zp_reg_cus_data['c_registration_ext_s_id'] == i]
    elig_cus_per_site = site_data[site_data['ec_ext_cti_id'].isin(sp_tiers)]
    perc_elig = elig_cus_per_site.groupby('c_registration_date')['c_id'].nunique() /\
    site_data.groupby('c_registration_date')['c_id'].nunique() * 100
    for x, y in list(zip(perc_elig.index, perc_elig.values)):
        daily_elig_per_site.loc[x, i] = float(y)

In [241]:
daily_elig_per_site = daily_elig_per_site.drop(daily_elig_per_site.index[len(daily_elig_per_site) - 1:])

In [242]:
daily_elig_per_site.fillna(0).round(2)

,1.0,2.0,3.0,4.0,7.0,8.0,11.0,12.0,14.0,15.0,...,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,31.0,32.0
DATE,,,,,,,,,,,,,,,,,,,,,
2018-07-01,64.92,35.00,24.00,34.53,40.11,36.93,38.46,36.51,51.00,38.06,...,17.53,38.10,29.03,77.84,20.76,43.55,42.11,31.25,31.25,47.83
2018-07-02,65.69,55.56,23.06,37.66,43.08,39.37,46.15,38.95,37.96,45.58,...,17.86,39.22,27.27,81.38,16.96,45.78,41.94,26.67,34.00,44.00
2018-07-03,63.96,27.27,23.92,40.27,43.78,38.91,48.28,38.31,45.08,36.66,...,20.13,52.78,25.00,74.03,15.21,36.67,21.62,17.65,26.67,35.71
2018-07-04,65.41,0.00,16.84,34.93,40.60,36.83,43.33,35.88,40.88,41.38,...,26.62,43.90,24.14,73.29,21.22,44.00,25.93,18.18,30.61,35.14
2018-07-05,66.72,44.44,20.45,36.51,42.40,35.48,43.59,34.92,45.54,34.55,...,13.61,40.62,20.00,79.47,17.89,30.00,41.67,9.68,44.07,48.39
2018-07-06,61.38,31.25,17.67,36.23,39.56,37.62,45.16,34.08,48.53,39.48,...,21.10,46.15,8.00,68.18,17.95,40.32,45.45,9.09,27.27,50.00
2018-07-07,67.34,60.00,17.28,35.97,45.14,39.06,59.09,33.33,35.92,37.44,...,14.81,48.28,21.67,69.57,12.64,50.00,35.29,17.39,28.26,47.83
2018-07-08,65.41,25.00,18.52,37.68,42.81,42.36,42.31,38.78,40.74,38.06,...,22.05,35.90,18.18,75.28,19.75,39.58,23.81,22.22,31.71,30.43
2018-07-09,64.21,44.44,21.22,36.84,45.26,39.29,48.72,40.65,51.28,38.31,...,19.64,22.58,21.10,80.77,19.43,57.69,23.81,9.68,49.06,62.50
2018-07-10,64.62,45.45,22.83,38.37,44.72,42.00,37.14,40.41,52.88,38.23,...,16.46,47.37,20.00,74.86,22.17,52.86,44.00,31.43,30.77,40.00
2018-07-11,65.80,37.50,24.14,35.15,45.00,41.28,45.71,40.70,38.21,39.31,...,19.86,25.58,16.48,70.11,16.97,36.00,20.83,14.81,41.30,46.88
2018-07-12,63.44,62.50,20.29,35.69,41.15,40.62,51.85,37.97,49.46,34.84,...,27.27,40.74,21.69,79.34,18.07,40.43,26.92,24.14,37.21,67.74
2018-07-13,65.81,40.00,21.57,35.21,45.24,40.04,55.17,35.60,35.05,31.16,...,32.53,37.50,26.47,72.13,20.45,60.00,33.33,20.00,30.77,46.15
2018-07-14,67.42,37.50,19.57,36.38,46.60,38.07,36.36,35.66,28.77,41.38,...,19.23,20.00,26.53,78.85,13.97,58.33,20.69,23.81,35.14,47.62
2018-07-15,65.71,20.00,21.97,36.08,42.03,38.45,56.41,34.81,34.15,37.35,...,15.91,34.69,19.61,70.00,15.97,52.17,25.00,4.35,35.00,56.52
2018-07-16,66.74,43.75,21.88,35.61,42.81,38.98,47.22,34.15,44.44,37.50,...,14.29,34.00,12.84,74.44,16.25,58.44,20.00,31.43,44.90,35.56
2018-07-17,64.65,25.00,20.31,37.58,37.57,36.08,37.21,33.33,43.80,45.10,...,20.31,32.56,23.42,74.46,15.49,48.61,47.37,27.27,30.00,60.53
2018-07-18,64.39,55.56,20.00,34.07,38.76,36.29,40.62,34.59,47.83,36.90,...,18.55,50.00,13.19,71.72,12.11,53.52,33.33,23.68,24.32,58.62
2018-07-19,63.21,50.00,18.48,36.38,41.87,31.05,58.06,32.71,44.55,35.42,...,17.14,47.06,25.64,75.19,10.44,42.62,42.11,23.33,47.92,50.00
2018-07-20,64.65,50.00,16.21,36.78,41.88,35.96,53.33,35.87,41.67,33.06,...,19.12,53.85,16.00,76.74,13.76,45.10,22.22,18.18,46.34,55.56
2018-07-21,63.62,25.00,17.82,34.38,41.79,40.08,40.00,38.69,31.25,36.84,...,23.64,41.38,26.67,79.66,22.73,28.12,33.33,25.00,45.83,35.00
2018-07-22,67.18,30.77,20.19,35.11,41.22,37.07,38.10,35.00,39.53,41.03,...,16.19,31.43,11.86,65.76,17.24,39.22,31.03,11.76,37.50,33.33
2018-07-23,64.65,41.67,19.72,33.79,35.46,37.77,43.18,36.12,39.37,39.53,...,14.48,31.82,15.83,72.83,16.35,43.68,34.78,15.62,37.29,50.00
2018-07-24,66.84,50.00,17.61,37.02,35.78,34.83,56.25,39.76,47.79,39.27,...,22.55,28.89,9.09,70.65,13.94,47.95,40.00,13.16,32.14,34.78
2018-07-25,66.36,44.44,15.78,34.36,40.10,33.06,43.90,34.12,39.56,34.35,...,15.96,42.22,19.35,66.88,16.85,48.48,16.67,13.33,28.26,37.50
2018-07-26,66.09,20.00,16.75,32.56,33.87,27.66,60.53,32.19,39.44,32.85,...,18.56,23.81,12.66,65.96,10.33,46.58,50.00,16.00,22.92,40.00
2018-07-27,17.51,10.00,3.37,8.30,6.38,13.79,6.06,8.63,12.86,9.76,...,6.35,23.53,1.61,20.72,2.90,21.88,11.76,4.00,3.12,25.81
2018-07-28,6.08,0.00,3.64,2.53,4.60,6.84,0.00,3.82,4.92,4.05,...,3.17,0.00,5.08,16.00,2.60,17.02,27.27,0.00,0.00,3.85
2018-07-29,5.64,8.33,5.18,4.17,4.38,6.69,5.41,5.65,6.06,13.11,...,2.90,7.14,8.57,38.00,5.24,18.64,5.88,0.00,0.00,5.56
2018-07-30,11.00,0.00,7.80,9.51,5.65,9.65,8.16,9.94,8.26,20.85,...,11.01,7.14,12.38,73.81,6.47,44.30,19.05,13.64,4.44,9.80
2018-07-31,60.04,33.33,17.13,33.97,37.60,29.26,39.02,30.72,44.07,37.28,...,16.52,33.33,16.51,70.49,22.26,52.13,32.14,11.11,35.19,59.38
2018-08-01,67.31,50.00,17.90,35.47,40.72,34.92,51.28,36.70,39.13,34.51,...,20.00,30.30,19.48,66.18,15.32,44.66,41.38,13.04,28.95,52.38
2018-08-02,64.12,36.84,14.98,35.78,38.73,27.70,55.00,35.53,39.66,32.73,...,16.38,36.67,15.73,66.43,17.09,42.42,26.67,21.88,29.73,45.71
2018-08-03,63.01,50.00,16.33,30.93,36.95,32.26,57.14,32.75,36.54,34.31,...,16.41,36.84,11.69,61.06,13.64,23.91,20.00,3.23,33.33,52.00
2018-08-04,62.94,33.33,16.14,26.54,38.05,28.31,69.57,34.45,36.90,28.84,...,14.63,17.65,12.96,58.68,17.24,21.88,27.78,17.39,37.14,36.36
2018-08-05,56.52,35.71,11.88,19.27,34.48,24.46,45.00,29.68,34.44,25.81,...,14.29,28.95,16.07,65.62,10.61,18.97,17.39,9.09,26.83,26.32
2018-08-06,40.80,7.69,6.22,6.81,22.11,21.89,7.14,9.01,22.03,10.13,...,6.43,13.04,2.15,48.04,2.67,11.90,19.23,0.00,27.27,25.81

### Registered customers per day

In [249]:
daily_reg_per_site.fillna(0).apply(sum, axis=1)

DATE
2018-07-01    5610
2018-07-02    6342
2018-07-03    5896
2018-07-04    5542
2018-07-05    5048
2018-07-06    4128
2018-07-07    3742
2018-07-08    5204
2018-07-09    6407
2018-07-10    5955
2018-07-11    5775
2018-07-12    5017
2018-07-13    4169
2018-07-14    3626
2018-07-15    4811
2018-07-16    5932
2018-07-17    5761
2018-07-18    5217
2018-07-19    4776
2018-07-20    4072
2018-07-21    3661
2018-07-22    5043
2018-07-23    5930
2018-07-24    5486
2018-07-25    5095
2018-07-26    4479
2018-07-27    1006
2018-07-28     434
2018-07-29     821
2018-07-30    1804
2018-07-31    5702
2018-08-01    5850
2018-08-02    5142
2018-08-03    4274
2018-08-04    3589
2018-08-05    4196
2018-08-06    3022
dtype: int64

### Median values when looking at how are registered customers distributed per site

In [250]:
#Index values are Shop IDs
reg_rel_values_per_site.describe().loc['50%'].round(2)

1.0     21.37
2.0      0.12
3.0      6.93
4.0     15.24
7.0      9.63
8.0     10.87
11.0     0.61
12.0     7.14
14.0     1.65
15.0     4.74
16.0     2.95
18.0     1.92
19.0     0.82
20.0     0.13
21.0     2.95
22.0     1.96
23.0     0.70
24.0     1.04
25.0     2.62
26.0     3.53
28.0     1.03
29.0     0.44
30.0     0.32
31.0     0.78
32.0     0.40
Name: 50%, dtype: float64

### Median values per site in terms of eligible customers

In [244]:
#Index values are Shop IDs
daily_elig_per_site.fillna(0).round(2).describe().loc['50%'].round(2)

1.0     64.65
2.0     36.84
3.0     17.90
4.0     35.21
7.0     40.60
8.0     36.29
11.0    45.00
12.0    34.92
14.0    39.53
15.0    36.84
16.0    40.00
18.0    32.00
19.0    16.22
20.0    60.00
21.0    25.37
22.0    17.14
23.0    34.69
24.0    16.51
25.0    71.72
26.0    16.25
28.0    43.68
29.0    27.27
30.0    16.00
31.0    31.25
32.0    45.71
Name: 50%, dtype: float64

In [284]:
df = pd.DataFrame(columns=cols[1:])

In [285]:
for i in daily_reg_per_site.fillna(0).apply(sum, axis=1).values:
    reg_cus = reg_rel_values_per_site.describe().loc['50%'].round(2).values / 100 * i
    elig_cus = list(reg_cus * daily_elig_per_site.fillna(0).round(2).describe().loc['50%'].round(2).values / 100)
    row = pd.DataFrame([elig_cus], columns=df.columns)
    df = pd.concat([df, row], ignore_index=True)

In [293]:
df = df.set_index([daily_reg_per_site.fillna(0).apply(sum, axis=1).index])

In [295]:
df.loc['SUM_ELIG_CUS'] = df.apply(sum, axis=0)

### Approximation of the number of customers being eligible for any SP per day and site (column: shop_id, index: date)

In [297]:
df.round(2)

,1.0,2.0,3.0,4.0,7.0,8.0,11.0,12.0,14.0,15.0,...,22.0,23.0,24.0,25.0,26.0,28.0,29.0,30.0,31.0,32.0
DATE,,,,,,,,,,,,,,,,,,,,,
2018-07-01,775.06,2.48,69.59,301.03,219.34,221.30,15.40,139.87,36.59,97.96,...,18.85,13.62,9.63,105.42,32.18,25.24,6.73,2.87,13.67,10.26
2018-07-02,876.19,2.80,78.67,340.31,247.96,250.17,17.41,158.12,41.37,110.75,...,21.31,15.40,10.89,119.17,36.38,28.53,7.61,3.25,15.46,11.60
2018-07-03,814.57,2.61,73.14,316.38,230.52,232.58,16.18,147.00,38.46,102.96,...,19.81,14.32,10.12,110.79,33.82,26.53,7.07,3.02,14.37,10.78
2018-07-04,765.67,2.45,68.75,297.38,216.68,218.62,15.21,138.18,36.15,96.78,...,18.62,13.46,9.52,104.14,31.79,24.93,6.65,2.84,13.51,10.13
2018-07-05,697.42,2.23,62.62,270.88,197.37,199.13,13.86,125.86,32.93,88.15,...,16.96,12.26,8.67,94.86,28.96,22.71,6.06,2.58,12.30,9.23
2018-07-06,570.31,1.82,51.21,221.51,161.40,162.84,11.33,102.92,26.92,72.08,...,13.87,10.02,7.09,77.57,23.68,18.57,4.95,2.11,10.06,7.55
2018-07-07,516.98,1.65,46.42,200.80,146.30,147.61,10.27,93.30,24.41,65.34,...,12.57,9.09,6.43,70.31,21.47,16.84,4.49,1.92,9.12,6.84
2018-07-08,718.97,2.30,64.55,279.25,203.46,205.28,14.28,129.75,33.94,90.87,...,17.48,12.64,8.94,97.79,29.85,23.41,6.24,2.66,12.68,9.51
2018-07-09,885.17,2.83,79.48,343.80,250.50,252.74,17.59,159.74,41.79,111.88,...,21.52,15.56,11.00,120.39,36.75,28.83,7.69,3.28,15.62,11.71
2018-07-10,822.73,2.63,73.87,319.55,232.83,234.91,16.35,148.48,38.84,103.99,...,20.01,14.46,10.22,111.90,34.16,26.79,7.15,3.05,14.52,10.89
2018-07-11,797.86,2.55,71.64,309.89,225.79,227.81,15.85,143.99,37.67,100.84,...,19.40,14.02,9.92,108.52,33.13,25.98,6.93,2.96,14.08,10.56
2018-07-12,693.13,2.22,62.23,269.21,196.15,197.91,13.77,125.09,32.72,87.61,...,16.85,12.18,8.61,94.27,28.78,22.57,6.02,2.57,12.23,9.17
2018-07-13,575.98,1.84,51.72,223.71,163.00,164.46,11.44,103.95,27.19,72.80,...,14.01,10.12,7.16,78.34,23.91,18.76,5.00,2.13,10.16,7.62
2018-07-14,500.96,1.60,44.98,194.57,141.77,143.04,9.95,90.41,23.65,63.32,...,12.18,8.81,6.23,68.13,20.80,16.31,4.35,1.86,8.84,6.63
2018-07-15,664.67,2.13,59.68,258.16,188.10,189.78,13.21,119.95,31.38,84.01,...,16.16,11.68,8.26,90.40,27.60,21.64,5.77,2.46,11.73,8.80
2018-07-16,819.55,2.62,73.58,318.31,231.93,234.00,16.28,147.90,38.69,103.59,...,19.93,14.40,10.19,111.47,34.03,26.69,7.12,3.04,14.46,10.85
2018-07-17,795.92,2.55,71.46,309.14,225.24,227.26,15.81,143.64,37.58,100.60,...,19.35,13.99,9.89,108.25,33.05,25.92,6.91,2.95,14.04,10.53
2018-07-18,720.77,2.31,64.72,279.94,203.97,205.80,14.32,130.07,34.03,91.10,...,17.53,12.67,8.96,98.03,29.93,23.47,6.26,2.67,12.72,9.54
2018-07-19,659.84,2.11,59.24,256.28,186.73,188.40,13.11,119.08,31.15,83.40,...,16.04,11.60,8.20,89.74,27.40,21.49,5.73,2.45,11.64,8.73
2018-07-20,562.58,1.80,50.51,218.50,159.21,160.63,11.18,101.53,26.56,71.11,...,13.68,9.89,6.99,76.52,23.36,18.32,4.89,2.08,9.93,7.45
2018-07-21,505.79,1.62,45.41,196.45,143.14,144.42,10.05,91.28,23.88,63.93,...,12.30,8.89,6.29,68.79,21.00,16.47,4.39,1.87,8.92,6.69
2018-07-22,696.73,2.23,62.56,270.61,197.17,198.93,13.84,125.74,32.89,88.06,...,16.94,12.25,8.66,94.76,28.93,22.69,6.05,2.58,12.29,9.22
2018-07-23,819.27,2.62,73.56,318.20,231.85,233.92,16.28,147.85,38.68,103.55,...,19.92,14.40,10.18,111.43,34.02,26.68,7.12,3.04,14.45,10.84
2018-07-24,757.93,2.43,68.05,294.38,214.49,216.41,15.06,136.78,35.78,95.80,...,18.43,13.32,9.42,103.09,31.47,24.68,6.58,2.81,13.37,10.03
2018-07-25,703.91,2.25,63.20,273.40,199.20,200.98,13.99,127.03,33.23,88.97,...,17.12,12.37,8.75,95.74,29.23,22.92,6.11,2.61,12.42,9.32
2018-07-26,618.81,1.98,55.56,240.34,175.12,176.68,12.29,111.67,29.21,78.21,...,15.05,10.88,7.69,84.16,25.69,20.15,5.37,2.29,10.92,8.19
2018-07-27,138.99,0.44,12.48,53.98,39.33,39.68,2.76,25.08,6.56,17.57,...,3.38,2.44,1.73,18.90,5.77,4.53,1.21,0.52,2.45,1.84
2018-07-28,59.96,0.19,5.38,23.29,16.97,17.12,1.19,10.82,2.83,7.58,...,1.46,1.05,0.75,8.16,2.49,1.95,0.52,0.22,1.06,0.79
2018-07-29,113.43,0.36,10.18,44.05,32.10,32.39,2.25,20.47,5.35,14.34,...,2.76,1.99,1.41,15.43,4.71,3.69,0.99,0.42,2.00,1.50
2018-07-30,249.24,0.80,22.38,96.80,70.53,71.16,4.95,44.98,11.77,31.50,...,6.06,4.38,3.10,33.90,10.35,8.12,2.16,0.92,4.40,3.30
2018-07-31,787.77,2.52,70.73,305.97,222.94,224.93,15.65,142.17,37.19,99.57,...,19.16,13.85,9.79,107.14,32.71,25.65,6.84,2.92,13.90,10.43
2018-08-01,808.22,2.59,72.57,313.91,228.72,230.77,16.06,145.86,38.16,102.15,...,19.65,14.21,10.04,109.93,33.56,26.32,7.02,3.00,14.26,10.70
2018-08-02,710.40,2.27,63.78,275.92,201.04,202.84,14.11,128.20,33.54,89.79,...,17.27,12.49,8.83,96.62,29.50,23.13,6.17,2.63,12.53,9.40
2018-08-03,590.48,1.89,53.02,229.34,167.10,168.60,11.73,106.56,27.88,74.63,...,14.36,10.38,7.34,80.31,24.52,19.23,5.13,2.19,10.42,7.81
2018-08-04,495.85,1.59,44.52,192.59,140.32,141.58,9.85,89.48,23.41,62.67,...,12.06,8.72,6.16,67.44,20.59,16.15,4.31,1.84,8.75,6.56
2018-08-05,579.71,1.85,52.05,225.16,164.05,165.52,11.52,104.62,27.37,73.27,...,14.10,10.19,7.20,78.85,24.07,18.88,5.03,2.15,10.23,7.67
2018-08-06,417.51,1.34,37.49,162.16,118.15,119.21,8.30,75.35,19.71,52.77,...,10.15,7.34,5.19,56.79,17.33,13.60,3.63,1.55,7.37,5.53
SUM_ELIG_CUS,23288.30,74.52,2090.99,9045.15,6590.48,6649.38,462.71,4202.79,1099.45,2943.49,...,566.28,409.32,289.43,3167.43,966.93,758.38,202.26,86.30,410.87,308.20

In [299]:
df.round(2).to_csv('approx_elig_customers_per_shop_and_day.csv', sep=';', encoding = 'utf-8')

Last row from the table above shows an approximation to the number of eligible customers per shop after 37 days in order to define the matching patterns enabling some customer IDs to access the control group.

In [303]:
#TOP 7 shops
df[[1, 3, 4, 7, 8, 12, 15]].loc['SUM_ELIG_CUS'] * 0.01

1.0     232.883050
3.0      20.909859
4.0      90.451510
7.0      65.904816
8.0      66.493829
12.0     42.027860
15.0     29.434915
Name: SUM_ELIG_CUS, dtype: float64

Figures above try to approximate the number of customers in Top 7 shops belonging to the control groups we would have after 37 days, having supossed that the matching pattern allows 1% of the eligible customers take part of the control group.

Another option could be just enable more than one matching patterns (customer IDs ending in '03', '06', '09' for example) and then stop including customers in it once a suitable amount has been reached.